{% extends 'Organization/base.html'%}
{% load static %}

{% block page-css %}
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'OsasSystem/assets/plugins/isotope/isotope.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/lightbox/css/lightbox.css' %}" rel="stylesheet" />

    <link href="{%static 'OsasSystem/assets/plugins/dropzone/min/dropzone.min.css' %}" rel="stylesheet" />
{% endblock%}

{% block title %}
    Year and Section
{% endblock %}


{% block content%}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
        <li class="breadcrumb-item">Concepet Papers</li>
        <li class="breadcrumb-item">Organization Events</li>
    </ol>
    <h1 class="page-header mb-1"><i class="fas fa-file mr-2" ></i> Organization Events</h1>
    <p class="mb-5">Page Description</p>
    <img hidden id="myImg" style="width: auto; height: auto;"/>
    <img hidden id="myImg2" style="width: auto; height: auto;"/>
    <img hidden id="myImg3" style="width: auto; height: auto;"/>
    <img hidden id="myImg4" style="width: auto; height: auto;"/>
    <img hidden id="myImg5" style="width: auto; height: auto;"/>
    
    
    <div class="row">
        <div class="col-lg-2">
            <div class="panel" data-sortable-id="index-1">
                <div class="panel-heading p-25">
                    <h2 class="panel-title" style="font-size:16px;">Filter <i class="fas fa-filter mr-2" ></i></h2>
                </div>
                <div class="panel-body" style="padding: 0%; height: 200px;">
                    <form id="validate_form" method="POST" action="{% url 'organization_events' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group" >
                            <label style="text-align: left; margin-bottom: 7px; margin-top: 4px;" class="col-sm-12">Academic Year:</label> 
                            <div class="col-sm-12">
                                <select id="acad_year" name="acad_year" class="form-control">
                                    <option selected disabled="true">--Select--</option>
                                    <option  value="2016">2016 - 2017</option>
                                    <option  value="2017">2017 - 2018</option>
                                    <option  value="2018">2018 - 2019</option>
                                    <option  value="2019">2019 - 2020</option>
                                    <option  value="2020">2020 - 2021</option>
                                    <option  value="2021">2021 - 2022</option>
                                </select>
                            </div>
                            <label style="text-align: left; margin-bottom: 7px; margin-top: 4px;" class="col-sm-12">Status:</label> 
                            <div class="col-sm-12">
                                <select id="filter_status" name="filter_status" class="form-control">
                                    <option selected disabled="true">--Select--</option>
                                    <option  value="VALIDATED">Validated</option>
                                    <option  value="PENDING">Pending</option>
                                    <option  value="APPROVED">Approved</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success col-sm-12">Filter <i class="fas fa-filter mr-2" ></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="panel">
                <div class="panel-heading p-25">
                    <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons" style="margin-right: -10px; margin-bottom: -10px;">
                        <button class="btn btn-white" data-toggle="modal" href="#modal_view_date" id="donwload" ><i class="far fa-file-pdf mr-2"></i>Report</button>
                    </div>
                    <h2 class="panel-title" style="font-size:16px;"><i class="fas fa-calendar-alt mr-2" ></i>Organization Events List</h2>  
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="1%"></th>
                                <th data-orderable="false">Event Details</th>
                                <th data-orderable="false">Attached Documents</th>
                                <th data-orderable="false">Returned Documents</th>
                                <th data-orderable="false">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if file_list_org %}
                            {% for org in file_list_org %}  
                                {% if org.title_org_id.org_id %}
                                <tr class="odd gradeA tr_  align-middle" id="{{ org.title_org_id.org_id }}">
                                    <td width="1%" class="f-s-600 text-inverse">{{ forloop.counter }}</td>
                                    <td width="28%" ><dl class="row mb-0 p-2" style="line-height: .6rem;">
                                        <dd class="col-sm-8 gritter-  ysd{{ org.title_org_id.org_id  }}" style=" font-size: 11px; "><strong>{{ org.title_name }}</strong></dd>
                                        <dd class="col-sm-8 gritter-  ysd{{ org.title_org_id.org_id  }}" >{{ org.title_datecreated|date:"Y-m-d" }}</dd>
                                        {% if org.title_status == "VALIDATED" %}
                                        <dd class="col-sm-8 gritter- "><strong><span class="badge badge-info  yss{{ org.title_org_id.org_id  }}">{{ org.title_status }}</span></strong></dd>
                                        {% elif org.title_status == "PENDING" %}
                                        <dd class="col-sm-8 gritter- "><strong><span class="badge badge-warning  yss{{ org.title_org_id.org_id  }}">{{ org.title_status }}</span></strong></dd>
                                        {% else %}  
                                        <dd class="col-sm-8 gritter- "><strong><span class="badge badge-success  yss{{ org.title_org_id.org_id  }}">{{ org.title_status }}</span></strong></dd>
                                        {% endif %}
                                    </dl>
                                    </td>
                                    <td width="32%">
                                        {% if acc_docu_list %}
                                            {% for org_concept_paper in acc_docu_list %}
                                                {% if org_concept_paper.con_file_ext == 'docx' and org_concept_paper.con_title_id.title_id == org.title_id %}
                                                    <div style=" display: inline-block; padding: 2px;">
                                                        <a id="{{ org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank"><i class="far fa-file-word fa-2x" > </i></a>
                                                    </div>
                                                    <div style="display: inline-block;">
                                                        <a id="{{ org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank" style="color: rgb(95, 94, 94);">{{ org_concept_paper.con_file }}</a>
                                                    </div></br>
                                                {% elif org_concept_paper.con_title_id.title_id == org.title_id %}
                                                    <div style="display: inline-block; padding: 2px;">
                                                        <a id="{{ org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank" style="color: red;"><i class="far fa-file-pdf fa-2x" > </i></a>
                                                    </div>
                                                    <div style="display: inline;">
                                                        <a id="{{ org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank" style="color: rgb(95, 94, 94);">{{ org_concept_paper.con_file }}</a>
                                                    </div><br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td width="32%">
                                        {% if osas_docu_list %}
                                        {% for org_concept_paper in osas_docu_list %}
                                            {% if org_concept_paper.con_file_ext == 'docx' and org_concept_paper.con_auth_id and org_concept_paper.con_org_id %}
                                                {% if org.title_status == "APPROVED" %}
                                                    <div style=" display: inline-block; padding: 2px;">
                                                        <a id="{{  org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank"><i class="far fa-file-word fa-2x" > </i></a>
                                                    </div>
                                                    <div style="display: inline-block;">
                                                        <a id="{{  org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank" style="color: rgb(95, 94, 94);">{{ org_concept_paper.con_file }}</a>
                                                    </div></br>
                                                    {% else %}
                                                    <div style=" display: inline-block; padding: 2px;">
                                                        <a id="{{  org.title_org_id.org_id  }}" target="blank"><i class="far fa-file-word fa-2x" > </i></a>
                                                    </div>
                                                    <div style="display: inline-block;">
                                                        <a id="{{  org.title_org_id.org_id }}" target="blank" style="color: rgb(95, 94, 94);">{{ org_concept_paper.con_file }}</a>
                                                    </div></br>
                                                {% endif %}
                                                {% elif org_concept_paper.con_auth_id and org_concept_paper.con_org_id %}
                                                    {% if org.title_status == "APPROVED" %}
                                                        <div style="display: inline-block; padding: 2px;">
                                                            <a id="{{ org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank" style="color: red;"><i class="far fa-file-pdf fa-2x" > </i></a>
                                                        </div>
                                                        <div style="display: inline;">
                                                            <a id="{{ org.title_org_id.org_id  }}" href="/media/{{ org_concept_paper.con_file }}" target="blank" style="color: rgb(95, 94, 94);">{{ org_concept_paper.con_file }}</a>
                                                        </div><br>
                                                    {% else %}
                                                        <div style="display: inline-block; padding: 2px;">
                                                            <a id="{{ org.title_org_id.org_id  }}" target="blank" style="color: red;"><i class="far fa-file-pdf fa-2x" > </i></a>
                                                        </div>
                                                        <div style="display: inline;">
                                                            <a id="{{ org.title_org_id.org_id  }}" target="blank" style="color: rgb(95, 94, 94);">{{ org_concept_paper.con_file }}</a>
                                                        </div><br>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td width="1%" class="text-nowrap">
                                        <dl class="row mb-0 p-2" style="line-height: .6rem;">
                                            <div class="col-sm-12">
                                                <button id="add_note"  class="btn btn-info" data-toggle="modal" href="#modal_message" onClick="viewNote('{{org.title_org_id.org_id}}')" ><i data-toggle="tooltip" data-placement="right" title="Message" class="fas fa-envelope" ></i></button>
                                            </div>
                                        </dl>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block imp !important;"> 
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%; overflow-y: initial !important; margin-top: 50px; margin-bottom:50px;" > 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h4 class="modal-title org_abbr"></h4> 
                <button type="submit" id="clear_msg" hidden class="btn btn-danger" style="height: 20px; width: 20px; padding: 0px; margin-left: -300px; margin-top: 4px; "><i  class="fas fa-trash-alt fa-sm" data-toggle="tooltip" data-placement="right" title="Clear Messages"  ></i></button>
                <button type="button" onclick="clearMsg()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body" id="chatparent" style="height: 390px; overflow-y: auto; overflow-x: hidden; background-color: whitesmoke;">
                <form id="validate_form1" autocomplete="off" style="margin-top: -30px; font-family: Roboto; font-weight: 350; font-size: 15px; color: black; letter-spacing: 1.5px; ">
                    <br>
                    {% csrf_token %}
                    <section class="container refresh_chat mt-2" id="chatbox" >
                        <br>
                        <li class="x" hidden></li>
                    </section>     
                </form>
                <section class="container" id="chatbox_date" hidden>
                    <li id="initial_date"></li>
                </section>
            </div> 
            <div class="modal-footer">
                <input id="btn-input" name="btn-input" maxlength = "183" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Type your message here...'" autocomplete="off" type="text" style="border-radius: 10px; font-family: Roboto; font-weight: 350; font-size: 15px; color: black; letter-spacing: 1.5px; "  class="form-control input-md" placeholder="Type your message here..." />
            </div> 
        </div> 
    </div> 
</div> 

<div class="modal fade" id="modal_view_academic" role="dialog" data-backdrop="static" >
    <div class="modal-dialog modal-md" >
        <div class="modal-content " style="background-color:whitesmoke;" >
            <div class="panel panel-inverse" style="border-radius: 15px;">
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true" style="color: gray; margin: 6px;">×</button>
                <div class="panel-body"  style="background-color:whitesmoke;" id="notes_body">
                    <h1 class="page-header mb-1"><i class="fas fa-calendar-alt mr-2" ></i> Academic School Year</h1>
                    <p class="mb-5">Academic School Year</p>
                    <select id="acad_year" name="acad_year" class="form-control">
                        <option selected disabled="true">--Select--</option>
                        <option  value="2016">2016 - 2017</option>
                        <option  value="2017">2017 - 2018</option>
                        <option  value="2018">2019 - 2020</option>
                        <option  value="2019">2020 - 2021</option>
                    </select>

                </div>
                          
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_view_date" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" >
        <div class="modal-content " style="background-color:whitesmoke;" >
            <div class="panel panel-inverse" style="border-radius: 15px; background-color:whitesmoke;">
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true" style="color: gray; margin: 6px;">×</button>
                <div class="panel-body"  style="background-color:whitesmoke;" id="notes_body">
                    <h5 class="page-header mb-1"><i class="fas fa-calendar-alt mr-2 " ></i> Academic School Year</h5>
                    <div class="input-group input-daterange mt-5 col-lg-10 offset-md-1">
                        
                        <input type="month" id="datepicker" name="datepicker"  min="2020-01"/>
                        <div class="input-group-addon">to</div>
                        <input type="month" id="datepicker2" name="datepicker2" />
                    </div>
                    <br>
                    <button type="submit" onclick="genReport()" class="btn btn-success col-sm-8 offset-md-2">Generate Report <i class="fas fa-spinner mr-2" ></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page-level %}
    <!-- <script src="{% static 'OsasSystem/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script> -->
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/index.js' %}"></script>

    <script src="{%static 'OsasSystem/assets/plugins/isotope/jquery.isotope.min.js' %}"></script>
  	<script src="{%static 'OsasSystem/assets/plugins/lightbox/js/lightbox.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/gallery.demo.min.js' %}"></script>

    <script src="{%static 'OsasSystem/assets/plugins/dropzone/min/dropzone.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/plugins/highlight/highlight.common.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/render.highlight.js' %}"></script>

    <script src="https://cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js"></script>

    <script src="{%static 'OsasSystem/assets/js/demo/render.highlight.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/plugins/highlight/highlight.common.js' %}"></script>
{% endblock %}
{% block page-js %}
<script>
    $(document).ready(function() {
        document.getElementById("myImg2").src = "/media/cert header.png";
        document.getElementById("myImg").src = "/media/cert footer.png";
        document.getElementById("myImg3").src = "/media/cert ssc.png";
        document.getElementById("myImg4").src = "/media/signature.jpg";
        document.getElementById("myImg5").src = "/media/PUPLOGO.png";
        $('#data-table').DataTable({
                    ordering: false,
        });
       
        const today = moment()
        var new_date = today.format('YYYY-MM')
        document.getElementById('datepicker2').value = new_date;
        document.getElementById('datepicker').value = new_date;
        // $("#datepicker").focus(function() {
        //     $(".ui-datepicker-month").hide();
        //     $(".ui-datepicker-calendar").hide();
        // });

        // $('#datepicker2').datepicker({
        //     changeYear: true,
        //     showButtonPanel: true,
        //     dateFormat: 'yy',
        //     onClose: function(dateText, inst) {
        //     var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        //     $(this).datepicker('setDate', new Date(year, 1));
        //     }
        // });

        // $("#datepicker2").focus(function() {
        //     $(".ui-datepicker-month").hide();
        //     $(".ui-datepicker-calendar").hide();
        // });

    });
</script>
<script>

function refresh_upload(){
    window.location.reload()
}
function clearMsg(){
    $('#chatbox').empty()
}

$('#btn-input').keyup(function (e) {
    if (e.keyCode === 13) {
        var msg = $('input[name="btn-input"]').val().trim();
     
        var x = document.getElementById("chatbox").lastElementChild.className;
        var y = document.getElementById("chatbox_date").lastElementChild.textContent;

        const now = moment()
        const msg_date = moment(y)

       
        // initiating new format needed for appending li tag used for comparing recent datetime to datime now
        const date_today = moment(now, ['YYYY-MM-DD hh:mm A']).format();    
        const msg_date2 = moment(msg_date, ['YYYY-MM-DD hh:mm A']).format();

        // initiating ne format neede for appending li tag used for displaying datetime in chatbox
        const msg_date3 = moment(msg_date).format("YYYY-MM-DD, ddd, hh:mm A");
        const date_today2 = moment(now).format("YYYY-MM-DD, ddd, hh:mm A");

       
        if(msg){
            if (x == "right"){
                if (msg_date3 == date_today2){
                    console.log("lol")

                    $.ajax({
                        url: '{% url "accreditation_org_msg" %}',
                        type: "POST",
                        data: {
                            org_id:organization_id,
                            osas_id: osas_id,
                            osas_role_: osas_role_,
                            date_today: date_today,
                            msg: msg,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',
                        success: function (data) {
                            $("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><p data-toggle="tooltip" data-placement="right" title="Delivered"  class="bg-info pull-right comments" style="margin-top: -15px; max-width: 300px; text-align: left; float: right; padding: 8px;border-radius: 10px; color: white; word-wrap: break-word; "  name="comment_stud">'+msg+'</p></div></li>'); 

                            $("#modal_message #chatbox_date").append('<li>'+date_today+'</li>')
                            // console.log(date_today)
                            var objDiv = document.getElementById("chatparent");
                            objDiv.scrollTop = objDiv.scrollHeight;
                        }
                    });
                }
                else{
                    console.log("epal")
                    
                    $.ajax({
                        url: '{% url "accreditation_org_msg" %}',
                        type: "POST",
                        data: {
                            org_id:organization_id,
                            osas_id: osas_id,
                            osas_role_: osas_role_,
                            date_today: date_today,
                            msg: msg,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',
                        success: function (data) {
                            
                            $("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted"  id="date_" style="font-size: 10px">'+date_today2+'</small><strong class="primary-font pull-right" style="font-size: 10px">'+'{{request.session.session_org_abbr}}'+'</strong></div><p data-toggle="tooltip" data-placement="right" title="Delivered"  class="bg-info pull-right comments" style="max-width: 300px; text-align: left; float: right; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;"  name="comment_stud">'+msg+'</p></div></li>'); 

                            $("#modal_message #chatbox_date").append('<li>'+date_today+'</li>')
                            // console.log(date_today)
                            var objDiv = document.getElementById("chatparent");
                            objDiv.scrollTop = objDiv.scrollHeight;
                        }
                    });
                }
            }
            else{
                $.ajax({
                    url: '{% url "accreditation_org_msg" %}',
                    type: "POST",
                    data: {
                        org_id:organization_id,
                        osas_id: osas_id,
                        osas_role_ :osas_role_,
                        date_today: date_today,
                        msg: msg,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    dataType: 'json',
                    success: function (data) {
                        $("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted"  id="date_" style="font-size: 10px">'+date_today2+'</small><strong class="primary-font pull-right" style="font-size: 10px">'+'{{request.session.session_org_abbr}}'+'</strong></div><p data-toggle="tooltip" data-placement="right" title="Delivered"  class="bg-info pull-right comments" style="max-width: 300px; text-align: left; float: right; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;" name="comment_stud">'+msg+'</p></div></li>'); 

                        $("#modal_message #chatbox_date").append('<li>'+date_today+'</li>')

                        var objDiv = document.getElementById("chatparent");
                        objDiv.scrollTop = objDiv.scrollHeight;
                    }
                });
            }
        
            document.getElementById('btn-input').value = "";
        }
    }


});

function genReport(){
    var from = $('input[name="datepicker"]').val();
    var to = $('input[name="datepicker2"]').val();
    from_2 = from + "-01"
    to_2 = to + "-01"
    console.log(from_2, to_2)
    if (from && to){
        $.ajax({
            url: '{% url "organization_generate_report" %}',
            type: "POST",
            data: {
                from_2: from_2,
                to_2: to_2,
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: 'json',
            success: function(response){
                var wme = window.open("","", "width = 816px, height = 1344px");

                wme.document.write(
                '<page size="Letter" style="word-wrap:break-word; margin: 0px;">')
                    
                wme.document.write('<div class="row" style="margin-top: -5px;"><img src="/media/PUPLOGO.png" style="width: auto; height: 92.2204724411px; margin-left: 35.795275590551px;"/><div style="margin-right: 105px; float: right; margin-top: -15px; padding: 5px;"><p style="font-family: Calibri; font-size: 14.5px; color: black; margin-left: -120px">Republic of the Philippines</p><p style="font-family: Californian FB; font-size: 15.5px; color: black; margin-top: -15px; margin-left: -120px;"><b>POLYTECHNIC UNIVERSITY OF THE PHILIPPINES</b></p><p style="font-family: Tahoma; color: black; margin-top: -20px; font-size: 14.5px; margin-left: -120px;"><b>QUEZON CITY BRANCH</b></p><p style="font-family: Times New Roman; color: black; margin-top: -15px; font-size: 18.5px; margin-left: -120px;"><b>OFFICE OF THE STUDENT AFFAIRS AND SERVICES</b></p></div></div></div><br/><div class="container-fluid" style="background: black; height: 2px; margin-top: -10px; margin-left: 47px;"></div>')

                wme.document.write('<div class="row" style="margin-top: 20px; text-align: center;"><p style="font-family: Arial; font-size: 18px; color: black;"><b>MONITORING AND OVERALL ACCREDITED ORGNAZITION</b></p></div>')
                wme.document.write('<div class="row" style="margin-top: -15px; text-align: center;"><p style="font-family: Arial; font-size: 17px; color: black;"><b>JUNE - DECEMBER 2021</b></p></div><br>')

                wme.document.write("<table style='border-collapse: collapse; width: 100%; font-family: Arial; font-size: 14.5px;' id='data-table' class='table table-bordered' ><thead ><tr><th  width='56%' style='border: 1px solid black; text-align: center; padding: 5px; font-size:15px; background-color: lightgray;'>ORGANIZATION NAME</th><th width='22%' style='border: 1px solid black; text-align: center; padding: 5px; font-size: 14.5px; background-color: lightgray;'>DATE SUBMITTED</th><th width='22%' style='border: 1px solid black; text-align: center; font-size:14.5px; background-color: lightgray; padding: 5px;'>DATE ACCREDITED</th></tr></thead><tbody>");


                const studData = response.data
                studData.map(item=>{
                   

                    const date_submitted = moment(item.org_submit_date)
                    const date_accredited = moment(item.org_date_accredited)
                    var new_date_submitted = date_submitted.format('LL')
                    const new_date_accredited = date_accredited.format('LL')

                    wme.document.write("<tr class='odd gradeA tr_'><td width='56%' style='border: 1px solid black; text-align: center; font-family: Arial; font-size:14.5px'>"+item.org_name+"</td><td style='border: 1px solid black; text-align: center; font-family: Arial; font-size:14.5px' width='22%'>"+new_date_submitted+"</td><td style='border: 1px solid black; text-align: center; font-family: Arial; font-size:14.5px' width='22%'>"+new_date_accredited+"</td></tr>")
                })

                wme.document.write("</tbody></table>")
                wme.document.write('</page>')
              
                wme.document.close();
                wme.focus()
                wme.print();
                wme.close();
            },
            error: function(error){
                console.log(error)
            }
        })
    }
}

var organization_id;
var osas_id;
var osas_role_;
function viewNote(org_id){
    auth_id = $('#auth_id').text();
    if (org_id) {
        document.getElementById('btn-input').value = "";
        tr_id = org_id;
        organization_id = org_id
        console.log(org_id, "org")
        $.ajax({
            url: '{% url "organization_view_messages" %}',
            type: "POST",
            data: {
                org_id: org_id,
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: 'json',
            success: function(response){
                $('.org_abbr').text(response.osas_role);
                var temp_osas_date;
                var temp_org_date;
                osas_id = response.osas_role_id
                osas_role_ = response.osas_role
                console.log(osas_id)
                const studData = response.data
                studData.map(item=>{
                    const msg_date_new = moment(item.msg_date).format("YYYY-MM-DD, ddd, hh:mm A");
                    // console.log(msg_date_new, 'orig')
                    if(item.msg_send_from == response.org_id){
                        if(temp_org_date){
                            console.log(response.org_id, 'bad')
                            if(temp_org_date == msg_date_new){
                                $("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" class="bg-info pull-right comments" style="margin-top: -15px; max-width: 300px; text-align: left; float: right; padding: 8px;border-radius: 10px; color: white; word-wrap: break-word;"  name="comment_stud">'+item.msg_message+'</p></div></li>'); 

                                // $("#modal_message #chatbox_date").append('<li>'+date_today+'</li>')
                                var objDiv = document.getElementById("chatparent");
                                objDiv.scrollTop = objDiv.scrollHeight;
                            }   
                            else{
                                $('#chatbox').append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted sample_date"  id="date_" style="font-size: 10px">'+msg_date_new+'</small><strong class="primary-font pull-right" style="font-size: 10px" >'+response.org_id+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" class="bg-info pull-right osas_msg comments" style="max-width: 300px; text-align: left; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;" name="comment_stud">'+item.msg_message+'</p></div></li>')
                                
                                $("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
                                temp_org_date = msg_date_new
                                // console.log('else lang' + temp_org_date)

                                var objDiv = document.getElementById("chatparent");
                                objDiv.scrollTop = objDiv.scrollHeight;
                            }
                        }
                        else{
                            $('#chatbox').append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted sample_date"  id="date_" style="font-size: 10px">'+msg_date_new+'</small><strong class="primary-font pull-right" style="font-size: 10px" >'+response.org_id+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" class="bg-info pull-right osas_msg" style="max-width: 300px; text-align: left; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;" id="comments"  name="comment_stud">'+item.msg_message+'</p></div></li>')
                            
                            temp_org_date = msg_date_new
                            // console.log('else lang' + temp_org_date)
                            $("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
                            var objDiv = document.getElementById("chatparent");
                                objDiv.scrollTop = objDiv.scrollHeight;
                        }
                    }
                    else if (item.msg_send_to == response.org_id && item.msg_send_from == response.osas_role_id){
                        osas_message = item.msg_id
                        console.log('goods')
                        $.ajax({
                            url: '{% url "organization_osas_msg_seen" %}',
                            type: "POST",
                            data: {
                                osas_message: osas_message,
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                            },
                            dataType: 'json',
                            success: function (data) {
                                console.log(data.osas_msg_status)
                                }
                        });
                        if(temp_osas_date){
                            if(temp_osas_date == msg_date_new){
                                $("#modal_message #chatbox").append('<li class="left" style="list-style-type: none;"><div class="chat-body clearfix"><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" style=" max-width: 300px; background-color: white; float: left; padding: 8px; border-radius: 10px; color: black; word-wrap: break-word; margin-top: -15px;"  name="comment_stud">'+item.msg_message+'</p></div></li>'); 

                                var objDiv = document.getElementById("chatparent");
                                objDiv.scrollTop = objDiv.scrollHeight;
                            }
                            else{
                                $("#chatbox").append('<li class="left"  style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-right text-muted" style="margin-left: 5px;"></i><small class="pull-right text-muted" id="date_stud" style="font-size: 10px"  >'+msg_date_new+'</small><strong class="pull-left primary-font" id="stud_name" name="stud_name" style="font-size: 10px">'+response.osas_role+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" style=" max-width: 300px; background-color: white; float: left; padding: 8px; border-radius: 10px; color: black; word-wrap: break-word;" id="comment_stud" value="'+item.msg_message+'" name="comments">'+item.msg_message+'</p></div></li>')
                                
                                $("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
                                temp_osas_date = msg_date_new
                                // console.log('else lang' + temp_org_date)

                                var objDiv = document.getElementById("chatparent");
                                objDiv.scrollTop = objDiv.scrollHeight;
                            }
                        }
                        else{
                            $("#chatbox").append('<li class="left"  style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-right text-muted" style="margin-left: 5px;"></i><small class="pull-right text-muted" id="date_stud" style="font-size: 10px"  >'+msg_date_new+'</small><strong class="pull-left primary-font" id="stud_name" name="stud_name" style="font-size: 10px">'+response.osas_role+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" style=" max-width: 300px; background-color: white; float: left; padding: 8px; border-radius: 10px; color: black; word-wrap: break-word;" id="comment_stud" value="'+item.msg_message+'" name="comments">'+item.msg_message+'</p></div></li>')
                            
                            
                            temp_osas_date = msg_date_new
                            // console.log('else lang' + temp_org_date)
                            $("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
                            var objDiv = document.getElementById("chatparent");
                                objDiv.scrollTop = objDiv.scrollHeight;
                        }
                        
                        // temp_osas_date = msg_date_new
                        // // console.log(temp_osas_date)
                        // $("#modal_message #chatbox_date").append('<li>'+msg_date_new+'</li>')
                        // var objDiv = document.getElementById("chatparent");
                        //         objDiv.scrollTop = objDiv.scrollHeight;

                    }
                })
            }
        });
    }    
}

function addNote(org_id){
    if (org_id) {
        tr_id = org_id;
        $('#org_id').val(org_id);
        console.log(org_id)
    }
}

</script>
{% endblock %}

