{% load static %}

<!-- begin #sidebar -->

<div id="sidebar" class="sidebar bg-black-darker">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile" hidden>
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="{% static 'OsasSystem/assets/img/user/user-13.jpg'%}" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                       
                        <small id="session_id" name="session_id">{{request.session.session_user_role}}</small>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            
            <li class="has-sub">
                <a href="{% url 'organization_home' %}">
                    <i class="fas fa-chart-pie"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="{% url 'accreditation' %}">
                    <i class="far fa-comments"></i> 
                    <span>Accreditation</span>
                </a>
            </li>
            {% if request.session.session_org_status == 'ACCREDITED'%}
            <li class="has-sub">
                <a href="{% url 'organization_events' %}">
                    <i class="fas fa-calendar-check"></i> 
                    <span>Accreditation</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="{% url 'organization_fund' %}">
                    <i class="fas fa-dollar-sign"></i> 
                    <span>Fund</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="{% url 'organization_officer' %}">
                    <i class="fas fa-users"></i> 
                    <span>Officers</span>
                </a>
            </li>
            {% endif %}
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        </ul>
    </div>
</div>

<div class="sidebar-bg"></div>
