{% extends 'classroom/base.html'%}
{% load static %}
{% block title %}
	Dashboard
{% endblock %}
{% block page-css %} 
	<link href="{%static 'OsasSystem/assets/plugins/nvd3/build/nv.d3.css' %}" rel="stylesheet" />
	
	<!-- <link href="{%static 'OsasSystem/assets/plugins/morris/morriss.css' %}" rel="stylesheet" /> -->
{% endblock %}
{% block content %}
<!-- {% if request.session.session_user_role%} -->
<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item active">Dashboard</li>
	</ol>
	<h1 class="page-header mb-1" style="font-weight: 700; color:#800000"><i class="far fa-chart-bar mr-2" ></i>Dashboard</h1>
	<p class="mb-5">Page Description</p>
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="widget widget-stats bg-gradient-green">
				<div class="stats-icon stats-icon-lg"><i class="far fa-user-circle fa-fw"></i></div>
				<div class="stats-content">
					<div class="stats-title">TOTAL # OF EVENTS</div>
					<div class="stats-number">{{total_event}}</div>
					<div class="stats-link">
						<a href="{% url 'student_events' %}">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="widget widget-stats bg-gradient-blue">
				<div class="stats-icon stats-icon-lg"><i class="far fa-address-card fa-fw"></i></div>
				<div class="stats-content">
					<div class="stats-title">TOTAL # OF ACCOMPLISHMENT REPORT</div>
					<div class="stats-number">{{total_accomplished}}</div>
					<div class="stats-link">
						<a href="{% url 'student_events' %}">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="widget widget-stats bg-gradient-red">
				<div class="stats-icon stats-icon-lg"><i class="fas fa-users fa-fw"></i></div>
				<div class="stats-content">
					<div class="stats-title">TOTAL FUND BALANCE</div>
					<div class="stats-number">{{total_balance.org_fund}}</div>
					<div class="stats-link">
						<a href="{%url 'classroom_fund' %}">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
</div>	

<!-- {% endif %} -->
{% endblock %}
{% block page-level %} 
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js"></script>
<!-- <script src="{%static 'OsasSystem/assets/plugins/nvd3/build/nv.d3.js' %}"></script>
<script src="{%static 'OsasSystem/assets/js/demo/chart-d3.demo.min.js' %}"></script> -->

<!-- <script src="{%static 'OsasSystem/assets/plugins/morris/raphael.min.js' %}"></script>
<script src="{%static 'OsasSystem/assets/plugins/morris/morriss.js' %}"></script>
<script src="{%static 'OsasSystem/assets/js/demo/chart-morris.demos.min.js' %}"></script> -->
<!-- 
<script src="{%static 'OsasSystem/assets/plugins/chart-js/Chart.min.js' %}"></script>
<script src="{%static 'OsasSystem/assets/js/demo/chart-js.demos.min.js' %}"></script> -->
<!-- ================== END PAGE LEVEL JS ================== -->
{% endblock %}
{% block page-js %} 
<script>
function clearMsg(){
	$('#chatbox').empty()
}
function clear_msg(){
	org_id = $('#auth_id').text();
	swal({
		title: "Are you sure?",
		text: "You want to clear all messages?", 
		icon: "warning",
		buttons: true,
		dangerMode: true,
	})
	.then((willDelete) => {
		if (willDelete) {
			$.ajax({
				url: '{% url "organization_view_messages" %}',
				type: "POST",
				data: {
					org_id: org_id,
					csrfmiddlewaretoken: "{{ csrf_token }}",
				},
				dataType: 'json',
				success: function(response){
					const studData = response.data
					studData.map(item=>{
						msg_id = item.msg_id
						$.ajax({
							url: '{% url "organization_msg_clear" %}',
							type: "POST",
							data: {
								msg_id: msg_id,
								csrfmiddlewaretoken: "{{ csrf_token }}",
							},
							dataType: 'json',
							success: function (data) {
							}
						});
					})
				}
			});
		} 
	});
}

$('#btn-input').keyup(function (e) {
	if (e.keyCode === 13) {
		var msg = $('input[name="btn-input"]').val().trim();
		var x = document.getElementById("chatbox").lastElementChild.className;
	
		var y = document.getElementById("chatbox_date").lastElementChild.textContent;
	

		const now = moment()
		const msg_date = moment(y)

	
		// initiating new format needed for appending li tag used for comparing recent datetime to datime now
		const date_today = moment(now, ['YYYY-MM-DD hh:mm A']).format();    
		const msg_date2 = moment(msg_date, ['YYYY-MM-DD hh:mm A']).format();

		// initiating ne format neede for appending li tag used for displaying datetime in chatbox
		const msg_date3 = moment(msg_date).format("YYYY-MM-DD, ddd, hh:mm A");
		const date_today2 = moment(now).format("YYYY-MM-DD, ddd, hh:mm A");
	
		if(msg){
			if (x == "right"){
				if (msg_date3 == date_today2){

					$.ajax({
						url: '{% url "accreditation_org_msg" %}',
						type: "POST",
						data: {
							org_id:org_id,
							osas_id: osas_id,
							date_today: date_today,
							msg: msg,
							csrfmiddlewaretoken: "{{ csrf_token }}",
						},
						dataType: 'json',
						success: function (data) {
							$("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><p data-toggle="tooltip" data-placement="right" title="Delivered" class="bg-info pull-right comments" style="margin-top: -15px; max-width: 300px; text-align: left; float: right; padding: 8px;border-radius: 10px; color: white; word-wrap: break-word; "  name="comment_stud">'+msg+'</p></div></li>'); 

							$("#modal_message #chatbox_date").append('<li>'+date_today+'</li>')
							var objDiv = document.getElementById("chatparent");
							objDiv.scrollTop = objDiv.scrollHeight;
						}
					});
				}
				else{
					
					$.ajax({
						url: '{% url "accreditation_org_msg" %}',
						type: "POST",
						data: {
							org_id:org_id,
							osas_id: osas_id,
							date_today: date_today,
							msg: msg,
							csrfmiddlewaretoken: "{{ csrf_token }}",
						},
						dataType: 'json',
						success: function (data) {
							
							$("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted"  id="date_" style="font-size: 10px">'+date_today2+'</small><strong class="primary-font pull-right" style="font-size: 10px">'+'{{request.session.session_org_abbr}}'+'</strong></div><p data-toggle="tooltip" data-placement="right" title="Delivered"  class="bg-info pull-right comments" style="max-width: 300px; text-align: left; float: right; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;"  name="comment_stud">'+msg+'</p></div></li>'); 

							$("#modal_message #chatbox_date").append('<li>'+date_today+'</li>')
							var objDiv = document.getElementById("chatparent");
							objDiv.scrollTop = objDiv.scrollHeight;
						}
					});
				}
			}
			else{
				$.ajax({
					url: '{% url "accreditation_org_msg" %}',
					type: "POST",
					data: {
						org_id: org_id,
						osas_id: osas_id,
						date_today: date_today,
						msg: msg,
						csrfmiddlewaretoken: "{{ csrf_token }}",
					},
					dataType: 'json',
					success: function (data) {
						$("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted"  id="date_" style="font-size: 10px">'+date_today2+'</small><strong class="primary-font pull-right" style="font-size: 10px">'+'{{request.session.session_org_abbr}}'+'</strong></div><p data-toggle="tooltip" data-placement="right" title="Delivered" class="bg-info pull-right comments" style="max-width: 300px; text-align: left; float: right; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;"  name="comment_stud">'+msg+'</p></div></li>'); 

						$("#modal_message #chatbox_date").append('<li>'+date_today+'</li>')

						var objDiv = document.getElementById("chatparent");
						objDiv.scrollTop = objDiv.scrollHeight;
					}
				});
			}
		
			document.getElementById('btn-input').value = "";
		}
	}


});
var osas_id;

function viewMessage(){
	org_id = $('#auth_id').text();

	if (org_id) {
		document.getElementById('btn-input').value = "";
		// $('#org_id1').val(org_id);
		$.ajax({
			url: '{% url "organization_view_messages" %}',
			type: "POST",
			data: {
				org_id: org_id,
				csrfmiddlewaretoken: "{{ csrf_token }}",
			},
			dataType: 'json',
			success: function(response){
				s = $('.org_abbr').text(response.osas_role);
				var temp_osas_date;
				var temp_org_date;
				osas_id = response.osas_role_id
				const studData = response.data
				studData.map(item=>{
					const msg_date_new = moment(item.msg_date).format("YYYY-MM-DD, ddd, hh:mm A");

					if(item.msg_send_from == response.osas_role_id){
						osas_message = item.msg_id
						$.ajax({
							url: '{% url "organization_osas_msg_seen" %}',
							type: "POST",
							data: {
								osas_message: osas_message,
								csrfmiddlewaretoken: "{{ csrf_token }}",
							},
							dataType: 'json',
							success: function (data) {
								
							}
						});
						
						if(temp_org_date){
							if(temp_org_date == msg_date_new){
								$("#modal_message #chatbox").append('<li class="left" style="list-style-type: none;"><div class="chat-body clearfix"><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" style=" max-width: 300px; background-color: white; float: left; padding: 8px; border-radius: 10px; color: black; word-wrap: break-word; margin-top: -15px;"  name="comment_stud">'+item.msg_message+'</p></div></li>'); 

								// $("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
								var objDiv = document.getElementById("chatparent");
								objDiv.scrollTop = objDiv.scrollHeight;
							}   
							else{
								$("#chatbox").append('<li class="left"  style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-right text-muted" style="margin-left: 5px;"></i><small class="pull-right text-muted" id="date_stud" style="font-size: 10px"  >'+msg_date_new+'</small><strong class="pull-left primary-font" id="stud_name" name="stud_name" style="font-size: 10px">'+response.osas_role+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" style=" max-width: 300px; background-color: white; float: left; padding: 8px; border-radius: 10px; color: black; word-wrap: break-word;" id="comment_stud" value="'+item.msg_message+'" name="comments">'+item.msg_message+'</p></div></li>')
								
								$("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
								temp_org_date = msg_date_new

								var objDiv = document.getElementById("chatparent");
								objDiv.scrollTop = objDiv.scrollHeight;
							}
						}
						else{
							$("#chatbox").append('<li class="left"  style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-right text-muted" style="margin-left: 5px;"></i><small class="pull-right text-muted" id="date_stud" style="font-size: 10px"  >'+msg_date_new+'</small><strong class="pull-left primary-font" id="stud_name" name="stud_name" style="font-size: 10px">'+response.osas_role+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" style=" max-width: 300px; background-color: white; float: left; padding: 8px; border-radius: 10px; color: black; word-wrap: break-word;" id="comment_stud" value="'+item.msg_message+'" name="comments">'+item.msg_message+'</p></div></li>')
							
							
							temp_org_date = msg_date_new
							$("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
							var objDiv = document.getElementById("chatparent");
								objDiv.scrollTop = objDiv.scrollHeight;
						}
					}
					else if(item.msg_send_from == response.org_id){
						if(temp_osas_date){
							if(temp_osas_date == msg_date_new){
								$("#modal_message #chatbox").append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" class="bg-info pull-right comments" style="margin-top: -15px; max-width: 300px; text-align: left; float: right; padding: 8px;border-radius: 10px; color: white; word-wrap: break-word;"  name="comment_stud">'+item.msg_message+'</p></div></li>'); 

								// $("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
								var objDiv = document.getElementById("chatparent");
								objDiv.scrollTop = objDiv.scrollHeight;
							}   
							else{
								$('#chatbox').append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted sample_date"  id="date_" style="font-size: 10px">'+msg_date_new+'</small><strong class="primary-font pull-right" style="font-size: 10px" >'+response.org_data+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" class="bg-info pull-right osas_msg comments" style="max-width: 300px; text-align: left; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;" name="comment_stud">'+item.msg_message+'</p></div></li>')
								
								$("#modal_message #chatbox_date").append('<li>'+item.msg_date+'</li>')
								temp_osas_date = msg_date_new
								
								var objDiv = document.getElementById("chatparent");
								objDiv.scrollTop = objDiv.scrollHeight;
							}
						}
						else{
							$('#chatbox').append('<li class="right" style="list-style-type: none;"><div class="chat-body clearfix"><div class="header"><i class="far fa-clock pull-left text-muted" style="margin-right: 5px;"></i><small class="pull-left text-muted sample_date"  id="date_" style="font-size: 10px">'+msg_date_new+'</small><strong class="primary-font pull-right" style="font-size: 10px" >'+response.org_data+'</strong></div><p data-toggle="tooltip" data-placement="right" title="'+item.msg_status+'" class="bg-info pull-right osas_msg comments" style="max-width: 300px; text-align: left; padding: 8px; border-radius: 10px; color: white; word-wrap: break-word;" name="comment_stud">'+item.msg_message+'</p></div></li>')
						
							temp_osas_date = msg_date_new
							$("#modal_message #chatbox_date").append('<li>'+msg_date_new+'</li>')
							var objDiv = document.getElementById("chatparent");
									objDiv.scrollTop = objDiv.scrollHeight;
						}
					

					}
				})
				// refresh_chat()
			}
		});
	}    
}

</script>
{% endblock %}


