{% extends 'base.html'%}
{% load static %}

{% block page-css %}
    <!-- <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" /> -->
    <Style>
        table {
            counter-reset: rowNumber + 1;
        }

        table tr {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber);
        }
    </Style>
{% endblock%}

{% block title %}
    Desciplinary Sanction
{% endblock %}


{% block content%}
<div id="content" class="content">

    {% if messages %}
    <p class="alert alert-danger">
        {% for message in messages %}
            <i><strong>{{ message }}</strong></i>
        {% endfor %}
    </p>
    {% endif %} 

    <h1 class="page-header mb-1">Desciplinary Sanction</h1>
	<p class="mb-5">Section 1. Student offenses shall be subjected to disciplinary measures
        by the University. <br>If the sanction imposed is suspension or dismissal, the
        student shall not be allowed to enter the University premises. <br>
        Section 2. All complaints involving students shall be referred to the Office of
        the Student Services.<br>
        Section 3. The grounds for disciplinary action and the corresponding
        sanctions/penalties are as follows:</p>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel" id="refresh">
        <div class="panel-heading p-25">
            <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
                <button class="btn btn-success"  data-toggle="modal" href="#modal-dialog" id="btn_rem"><i class="fas fa-search mr-2"></i>Add New</button>
            </div>
            <h2 class="panel-title" style="font-size:16px;">Sanction List</h2>
        </div>
        <div class="panel-body">
            {% if ds_sanction %}
            <table id="data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th data-orderable="false">Offense/Violation</th>
                        <th data-orderable="false" class="text-nowrap">Hour(s) to Render</th>
                        <th data-orderable="false" class="text-nowrap">Day(s) to Render</th>
                        <th data-orderable="false" class="text-nowrap">Date created</th>
                        <th data-orderable="false">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for osas_r_disciplinary_sanction in ds_sanction %}
                    <tr class="odd gradeA" id="desciplinary-{{ osas_r_disciplinary_sanction.ds_id }}">
                        <td width="1%" class="f-s-600 text-inverse"></td>
                        <td width="1%" class="f-s-600 text-inverse" hidden >{{ osas_r_disciplinary_sanction.ds_id }}</td>
                        <td><dl class="row mb-0 p-2" style="line-height: .6rem;">
                            <dd class="col-sm-8 gritter- code_name" ><strong>{{ osas_r_disciplinary_sanction.ds_code_id.ct_name }}</strong></dd>
                            <dd class="col-sm-8">{{ osas_r_disciplinary_sanction.ds_violation_count }} 
                                {% if osas_r_disciplinary_sanction.ds_status == 'WARNING'%}
                                <dd class="col-sm-8 gritter-"><strong><span class="label label-warning">{{ osas_r_disciplinary_sanction.ds_status }}</span></strong></dd>
                                {% elif osas_r_disciplinary_sanction.ds_status == 'Student-assistance Service'%}
                                <dd class="col-sm-8 gritter-"><strong><span class="label label-danger">{{ osas_r_disciplinary_sanction.ds_status }}</span></strong></dd>
                                {% else %}
                                <dd class="col-sm-8 gritter-"><strong><span class="label label-inverse">{{ osas_r_disciplinary_sanction.ds_status }}</span></strong></dd>
                                {% endif %}
                        </dl>
                        </td>
                        <td  class="align-middle"><dl class="row mb-0 p-2" style="line-height: .6rem;">
                            <dd class="col-sm-8">{{ osas_r_disciplinary_sanction.ds_hrs }}</dd>
                        </dl>
                        </td>
                        <td  class="align-middle"><dl class="row mb-0 p-2" style="line-height: .6rem;">
                            <dd class="col-sm-8">{{ osas_r_disciplinary_sanction.ds_days }}</dd>
                        </dl>
                        </td>
                        <td width="1%" class="f-s-600 text-inverse" hidden>{{ osas_r_disciplinary_sanction.ds_violation_desc }}</td>
                        <td class="f-s-600 text-inverse text-nowrap" >{{ osas_r_disciplinary_sanction.ds_datecreated|date:"Y-m-d" }}</td>
                        <td  class="align-middle"><div class="text-nowrap"><div class="btn-group ">
                            <!-- <button id="view-btn" class="btn btn-white" ><i class="fas fa-search mr-2"></i>View</button> -->
                            <button id="edit-btn" class="btn btn-info" data-toggle="modal" onClick="editSanction('{{osas_r_disciplinary_sanction.ds_id}}')" href="#modal-edit"><i class="fas fa-edit mr-2"></i>Edit</button>
                            <button id="delete-btn" class="btn btn-danger" onClick="deleteDescipline('{{osas_r_disciplinary_sanction.ds_id}}')"><i class="fas fa-trash-alt mr-2"></i>Delete</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="modal-dialog" role="dialog"  data-backdrop="static">
    <div class="modal-dialog  modal-md" role="document">
        <div class="modal-content">
            <form  method="POST" name="form-wizard"  class="form-control-with-bg" id="form1"></form>
                {% csrf_token %}
                <div class="panel panel-inverse" >
                    <button type="button" class="close" id="modal_close" data-dismiss="modal" aria-hidden="true" style="color: gray; margin: 6px;">×</button>  
                    <div class="panel-body" >
                        <div class="col">
                            <h1 class="page-header mb-1">New Desciplinary Sanction</h1>
                            <p class="mb-5">Page Description</p>
                            <div class="col-lg-12 form-check-inline" id="error">

                            </div>
                            <div class="col-lg-12 form-check-inline">
                                <div class="col">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Code of Discipline: <span class="text-danger">*</span></label>
                                    {% if code_name %}
                                    <select class="form-control" id="code_name" name="code_name" data-parsley-required="true" >
                                        <option disabled selected value="">--select--</option>
                                        {% for osas_r_code_title in code_name %}
                                        <option value="{{osas_r_code_title.ct_name}}" >{{osas_r_code_title.ct_name}}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-12 form-check-inline">
                                <div class="col">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Disciplinary Sanction: <span class="text-danger">*</span></label>
                                    <select class="form-control" id="offense_name" name="offense_name" data-parsley-required="true" >
                                        <option disabled selected value="">--select--</option>
                                        <option value="1st Offense / Violation">1st Offense / Violation</option>
                                        <option value="2nd Offense / Violation">2nd Offense / Violation</option>
                                        <option value="3rd Offense / Violation">3rd Offense / Violation</option>
                                        <option value="More than three (3) offense / Violation" name="1st">More than three (3) offense / Violation</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Status: <span class="text-danger">*</span></label>
                                    <select class="form-control" id="offense_status" name="offense_status" data-parsley-required="true" >
                                        <option disabled selected value="">--select--</option>
                                        <option value="WARNING">WARNING</option>
                                        <option value="Student-assistance Service">Student-assistance Service</option>
                                        <option value="Dismissal from the University">Dismissal from the University</option> 
                                        <option value="One-week Suspension">One-week Suspension</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 form-check-inline">
                                <div class="col">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Hour(s) to Render: <span class="text-danger">*</span></label>
                                    <input id="r_hours" name="r_hours" type="text" class="form-control" data-parsley-required="true"   data-parsley-type="number" data-parsley-trigger="keyup">
                                </div>
                                <div class="col">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Day(s) to Render: <span class="text-danger">*</span></label>
                                    <input id="r_days" name="r_days" type="text" class="form-control" data-parsley-required="true"   data-parsley-type="number" data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-12 form-check-inline">
                                <div class="col-12">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Offense Descriptions: <span class="text-danger">*</span></label>
                                    <textarea id="offense_desc" name="offense_desc" type="text" class="form-control" data-parsley-required="true" required data-parsley-pattern="^[a-zA-Z]+$" data-parsley-trigger="keyup" style="height: 130px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-footer">
                        <button class="btn btn_success col-md-3 pull-right m-l-10 " type="submit" id="btn_submit" style="height: 33px; padding: 5px; background: linear-gradient(to right, #66ccff -1%, #3366ff 98%); border:none; color: white;" >Submit<i class="far fa-paper-plane m-l-3 zoom"></i></button>
                        <a class="btn btn-white pull-right m-l-10" data-dismiss="modal">Back<i class="fas fa-reply m-l-3 zoom"></i></a>
                    </div>
                </div> 
            </form> 
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" role="dialog"  data-backdrop="static">
    <div class="modal-dialog  modal-md" role="document">
        <div class="modal-content">
            <form  method="POST" name="form-wizard"  class="form-control-with-bg" id="form2"></form>
                {% csrf_token %}
                <div class="panel panel-inverse" >
                    <button type="button" class="close" id="modal_close" data-dismiss="modal" aria-hidden="true" style="color: gray; margin-right: 6px; margin-top: 6px;" onclick="updateDiv()">×</button>  
                    <div class="panel-body" >
                        <div class="col">

                            <h1 class="page-header mb-1">New Desciplinary Sanction</h1>
                            <p class="mb-5">Page Description</p>
                            <div class="col-lg-12 form-check-inline" id="error1">
                            
                            <input class="form-control" id="Sanction_id" type="hidden" name="Sanction_id"/>
                            </div>
                            <div class="col form-check-inline">
                                <div class="col">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Code of Discipline: <span class="text-danger">*</span></label>
                                    {% if code_name %}
                                    <select disabled class="form-control" id="code_name1" name="code_name" data-parsley-required="true" >
                                        <option disabled selected value="">--select--</option>
                                        {% for osas_r_code_title in code_name %}
                                        <option value="{{osas_r_code_title.ct_name}}" >{{osas_r_code_title.ct_name}}</option>
                                        {% endfor %}
                                    </select>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col form-check-inline">
                                <div class="col">
                                    <label  class="col-form-label text-md-right">Disciplinary Sanction: <span class="text-danger">*</span></label>
                                    <input disabled id="offense_name1" name="offense_name"  type="text" class="form-control" data-parsley-required="true"   data-parsley-type="number" data-parsley-trigger="keyup">
                        
                                </div>
                                <div class="col-6">
                                    <label  class="col-form-label text-md-right">Status: <span class="text-danger">*</span></label>
                                    <select class="form-control" id="offense_status1" name="offense_status" data-parsley-required="true" >
                                        <option disabled value="">--select--</option>
                                        <option value="WARNING">WARNING</option>
                                        <option value="Student-Assistance Service">Student-assistance Service</option>
                                        <option value="Dismissal from the University">Dismissal from the University</option> 
                                    </select>
                                </div>
                            </div>
                            <div class="col form-check-inline">
                                <div class="col">
                                    <label  class="col-form-label text-md-right">Hour(s) to Render: <span class="text-danger">*</span></label>
                                    <input id="r_hours1" name="r_hours" type="text" class="form-control" data-parsley-required="true"   data-parsley-type="number" data-parsley-trigger="keyup">
                                </div>
                                <div class="col">
                                    <label  class="col-form-label text-md-right">Day(s) to Render: <span class="text-danger">*</span></label>
                                    <input id="r_days1" name="r_days" type="text" class="form-control" data-parsley-required="true"   data-parsley-type="number" data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col form-check-inline">
                                <div class="col-12">
                                    <label  class="col-form-label text-md-right">Offense Descriptions: <span class="text-danger">*</span></label>
                                    <textarea id="offense_desc1" name="offense_desc" type="text" class="form-control" data-parsley-required="true" required data-parsley-pattern="^[a-zA-Z]+$" data-parsley-trigger="keyup" style="height: 130px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-footer">
                        <button class="btn btn_success col-md-3 pull-right m-l-10 " type="submit" id="btn_update" style="height: 33px; padding: 5px; background: linear-gradient(to right, #66ccff -1%, #3366ff 98%); border:none; color: white;" >Update<i class="far fa-paper-plane m-l-3 zoom"></i></button>
                        <a class="btn btn-white pull-right m-l-10" data-dismiss="modal">Back<i class="fas fa-reply m-l-3 zoom"></i></a>
                    </div>
                </div> 
            </form> 
        </div>
    </div>
</div>

{% endblock %}

{% block page-level %}
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/plugins/parsley/dist/parsley.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/index.js' %}"></script>
{% endblock %}

{% block page-js %}
<script>
function deleteDescipline(ds_id) {
    swal({
        title: "Are you sure?",
        text: "You want to assess this case?", 
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url: '{% url "desciplinary_sanction_delete" %}',
                type: "POST",
                data: {
                    ds_id: ds_id,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                    $("#data-table #desciplinary-" + ds_id).remove();
                    swal("Success! request has been completed", {
                        icon: "success",
                    });
                    }
                }
                
            });
        } 
    });
}

    $("#modal-edit").on('click','#btn_update',function(){
        var sanction_id = $('input[name="Sanction_id"]').val().trim();
        
        offense_status = $("#offense_status1").children("option:selected").val().trim();
        var r_hours =  document.getElementById("r_hours1").value
        var r_days = document.getElementById("r_days1").value
        var offense_desc = $('textarea[name="offense_desc"]').val().trim();
        console.log(r_days) 
        if (sanction_id) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "desciplinary_sanction_edit" %}',
            type: "POST",
            data: {
                sanction_id:sanction_id,
                r_hours: r_hours,
                r_days: r_days,
                offense_desc: offense_desc,
                offense_status:offense_status,
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: 'json',
            success: function (data) {
                
                if (data.error) {
                    console.log(sanction_id)
                    $("#error").append('<p class="alert alert-danger">' + code_name + ' - ' + offense_name + ' is already added to the record' + '</p>')
                }
                else {
                    swal("Success!", {
                    icon: "success",
                    }).then((willreload) => {
                        if(willreload){
                            updateDiv()
                            $('form#form2').trigger("reset");
                            $('#modal-edit').modal('hide');
                        }
                    });
                }
            }
        });
        } else {
        alert("All fields must have a valid value.");
    }
    return false;
    });

    function editSanction(ds_id) {
    if (ds_id) {
        tr_id = "#desciplinary-" + ds_id;
        sanction = $(tr_id).closest("tbody tr").find("td :eq(2)").html()
        offense = $(tr_id).closest("tbody tr").find("td :eq(3)").html()
        status = $(tr_id).closest("tbody tr").find("td :eq(5)").text()
        hrs = $(tr_id).closest("tbody tr").find("td :eq(8)").html()
        days = $(tr_id).closest("tbody tr").find("td :eq(10)").html()
        desc = $(tr_id).closest("tbody tr").find("td:eq(5)").text()
        $("#code_name1").val(sanction);
        $('#Sanction_id').val(ds_id);
        $('#r_hours1').val(hrs);
        $('#r_days1').val(days);
        $('#offense_name1').val(offense);
        $('#offense_desc1').val(desc);
        $("#offense_status1").find('option[value="'+ status +'"]').attr('selected','selected')
        
    }
}
    //https://stackoverflow.com/questions/3072233/getting-value-from-table-cell-in-javascript-not-jquery


    $('#modal-dialog').on('click','#btn_submit', function(event){
        offense_name = $("#offense_name").children("option:selected").val().trim();
        code_name = $("#code_name").children("option:selected").val().trim();
        offense_status = $("#offense_status").children("option:selected").val().trim();
        var r_hours = $('input[name="r_hours"]').val().trim();
        var r_days = $('input[name="r_days"]').val().trim();
        var offense_desc = $('textarea[name="offense_desc"]').val().trim(); 
        if (offense_name && code_name && r_hours && r_days && offense_desc){
            $.ajax({
                url : "{% url 'desiplinary_sanction_add' %}",
                type : "POST",
                dataType: 'json',
                data : {
                    offense_name: offense_name,
                    code_name: code_name,
                    r_hours: r_hours,
                    r_days: r_days,
                    offense_desc: offense_desc,
                    offense_status:offense_status,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success : function(data){
                    if (data.error) {
                        $("#error").append('<p class="alert alert-danger">' + code_name + ' - ' + offense_name + ' is already added to the record' + '</p>')
                    }
                    else {
                        swal("Success!", {
                        icon: "success",
                        }).then((willreload) => {
                            if(willreload){
                                updateDiv()
                                $('form#form1').trigger("reset");
                                $('#modal-dialog').modal('hide');
                            }
                        });
                    }
                },
                error: function(error){
                        console.log(error);
                }
            });
        }
        else {
        alert("All fields must have a valid value.");}
        return false;
    });

    function updateDiv()
    { 
        $( "#refresh" ).load(window.location.href + " #refresh" );
    }

</script>
{% endblock %}