{% extends 'base.html'%}
{% load static %}

{% block page-css %}
<link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock%}

{% block title %}
    Add Student
{% endblock %}

{% block content%}

<div class="content" class="content">

    
    <div id="div_add_equipment" class="panel-body">
        <div class="col-lg-12 col-md-6">
            {% if error_message %}
                <p class="alert alert-danger">
                    <strong>{{ error_message }}</strong>
                </p>
            {% endif %} 
        </div>
        <form id="validate_form" method="post" action="{% url 'yr_sec' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>     
                <tr>
                    <td>
                        <strong><h1 class="page-header">Add new year and section</h1></strong>
                        <div class="row">
                            <hr style="width:100%;text-align:left;margin-left:0">
                           
                            <div class="col-lg-12 col-md-6 ">
                                <div class="stats-content">
                                    <label>Year and section descriptions</label>
                                    <input style="margin-bottom: 8px;" type="text" name="yr_sec_desc" id="yr_sec_desc" class="form-control" placeholder="Year and section description" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            
                            <div class="col-lg-12 col-md-6 ">
                                <div class="stats-content">
                                    <label>Status</label>
                                    <select id="yr_sec_status" name="yr_sec_status" id="yr_sec_desc" class="form-control" required>
                                        <option  value="Active">Active</option>
                                        <option  value="Inactive">Inactive</option>
                                    </select>  
                                </div>
                            </div>
                            <hr style="width:100%;text-align:left;margin-left:0">
                        </div>
                    </td>
                </tr>
            </fieldset>
        </br>
        <button type="submit" id="submit" class="btn btn-success btn-sm btn-sm">Edit</button>  
            <!-- <div style=" margin-bottom: 20px;" class="btn pull-right">
                <a id="btn_cancel_add_equipment"  value="'+value[0]+'" style="color: white;" class="btn btn-sm btn-danger height-30">Cancel</a>
                <input type="submit" id="submit" name="submit" value="Submit" class="btn btn-sm btn-success height-30" />
                <a id="btn_add_equipments"  value="'+value[0]+'" style="color: white;" class="btn btn-sm btn-primary width-60 m-r-2">Submit</a>
            </div> -->
        </form>  
    </div>
</div>

{% endblock %}

{% block page-level %}
<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
<script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
{% endblock %}
{% block page-js %}
<script>

    $("#validate_form").on('click','#submit',function(){
    desc =  document.getElementById('yr_sec_desc').value
    alert(desc)
    });
	
</script>
{% endblock %}
