{% extends 'base.html'%}
{% load static %}

{% block page-css %}
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock%}

{% block title %}
    Year and Section
{% endblock %}


{% block content%}
<div id="content" class="content">
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <button type="button" href="#modal-dialog" id="btn_rem"  class="update btn btn-success" data-toggle="modal">+ Add User<span class="glyphicon glyphicon-trash"></span></button> 
        </div>
    </div>
    <br>

    <!-- <div class="row">
        <div class="col-lg-12 col-md-6">
        {% if error_message %}
            <p class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %} 
        </div>
    </div> -->
    <!-- begin row -->
    <div class="row">
       
        <!-- begin col-10 -->
        <div class="col-lg-12 col-md-6">
            
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">User List</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    {% if user_list %}
                    <div class="table-responsive">
                        <table id="data-table-buttons" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th hidden></th>
                                <th class="text-nowrap">Year and Section</th>
                                <th class="text-nowrap">Date Registered</th>
                                <th class="text-nowrap">Status</th>
                                <th class="text-nowrap">Action</th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for osas_r_section_and_year in user_list %}
                            <tr>
                                <td hidden >{{ osas_r_section_and_year.yas_id }}</td>  
                                <td>{{ osas_r_section_and_year.yas_descriptions }}</td>
                                <td>{{ osas_r_section_and_year.yas_dateregistered }}</td>
                                <td>{{ osas_r_section_and_year.status }}</td> 
                                <!-- <td class="text-center"><img src="/media/{{osas_r_userrole.s_image}}" class="rounded-circle" width="50" alt="userimage"/></td> -->
                                <!-- <td class="text-center"><span {% if  index.2  < index.3 %}class = "dot" style=" height: 25px; width: 25px; background-color: red; border-radius: 50%;display: inline-block;" {% elif  index.2  == index.3 %}class = "dot" style=" height: 25px; width: 25px; background-color: #EEA843; border-radius: 50%;display: inline-block;" {% else %} class="dot" style=" height: 25px; width: 25px; background-color: #4EEC1E; border-radius: 50%; display:inline-block;" {% endif %}></span></td> -->
                                <td class="with-btn" nowrap >
                                    <!-- {% if index.2 < index.3 %}
                                    <a id="btnEditTable"  value="{{index.0}}" class="btn btn-sm btn-primary width-70 m-r-2" style="color: white;">Order</a>
                                    {% endif %} -->
                                    <!-- <button type="button" id="view" class="update btn btn-primary btn-lg"><span class="glyphicon glyphicon-eye-open"></span></button> -->
                                    <button type="button" href="#modal-dialog2"  id="edit"  class="update btn btn-warning btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <!-- <a id="btnEditTable"  value="{{index.0}}" class="btn btn-sm btn-primary width-70 m-r-2" style="color: white;">Edit</a> -->
                                    <!-- {% if request.session.session_assign == 9 %} -->
                                    <button type="button" href="#modal-dialog" id="btn_rem"  class="update btn btn-danger btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></button> 
                                    <!-- <a  class="btn btn-sm btn-success" data-toggle="modal">Demo</a> -->
                                    <!-- {% endif %} -->
                                    <button type="button" id="button_del" method="post" class="update btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span></button> 
                                    <!-- <a id="btnRemarks"  class="btn btn-sm btn-white width-70"><center>Remarks</center></a>
                                     -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>
 <!-- #modal-dialog -->
 <div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="validate_form" data-parsley-validate="" action="{% url 'add_yr_sec' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <hr style="width:100%;text-align:left;margin-left:0">
                           
                    <div class="col-lg-12 col-md-6 ">
                        <div class="stats-content">
                            <label>Year and section descriptions</label>
                            <input style="margin-bottom: 8px;" type="text" name="yr_sec_desc" id="yr_sec_desc" class="form-control" placeholder="Year and section description" required data-parsley-trigger="keyup">
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-6 ">
                        <div class="stats-content">
                            <label>Status</label>
                            <select id="yr_sec_status" name="yr_sec_status" class="form-control" required>
                                <option  value="Active">Active</option>
                                <option  value="Inactive">Inactive</option>
                            </select>  
                        </div>
                    </div>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    </br>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-sm btn-sm">Add</button>  
                        <button type="cancel" class="btn btn-warning btn-sm btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</div>
<!-- #modal-without-animation -->

{% endblock %}

{% block page-level %}
    <script src="{% static 'OsasSystem/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
{% endblock %}
{% block page-js %}
<script>

var table = $('#data-table-buttons').DataTable();
 
 new $.fn.dataTable.Buttons( table, {
     name: 'commands',
     buttons: [ 'copy', 'csv', 'excel' ]
 } );
  
 table.buttons( 0, null ).containers().appendTo( 'body' );

    // $("#data-table-buttons").DataTable({
    //     buttons: [ 'copy', 'csv', 'excel' ]
    // })
    $("#validate_form").parsley();

    id = $(this).closest("tbody tr").find("td:eq(0)").html()


	
</script>
{% endblock %}

