{% extends 'base.html'%}
{% load static %}

{% block page-css %}
    <!-- <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" /> -->
{% endblock%}

{% block title %}
    Lost ID
{% endblock %}


{% block content%}
<div id="content" class="content">
    
    <div class="row">
        {% if messages %}
        <p class="alert alert-danger">
            {% for message in messages %}
                <i><strong>{{ message }}</strong></i>
            {% endfor %}
        </p>
        {% endif %}
        <div class="col-lg-12 col-md-6">
            <button type="button" href="#modal-dialog" id="btn_rem"  class="update btn btn-success" data-toggle="modal">+ Add new request<span class="glyphicon glyphicon-trash"></span></button> 
        </div>
    </div>
    </br>
    
    <div class="row" id="pending">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-inverse">
                <div class="card">
                    <div class="card-header bg-dark">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" >
                          <a class="nav-link active btn_pending" onload="dateformat()" style=" font-family: Roboto;">Pending Request</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link btn_process" onclick="processing()" style="color: whitesmoke; font-family: Roboto;">On Process Request</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link btn_complete" onclick="complete()" style="color: whitesmoke; font-family: Roboto;">Completed Request</a>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-body">
                        {% if pending_list %}
                        <div class="table-responsive table table-striped " >
                            <table style="font-family: Roboto; font-size: 11.5px;" id="data-table-combines" class="data-tables table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Request ID:</th>
                                    <th class="text-nowrap">Student No.:</th>
                                    <th class="text-nowrap">Name:</th>
                                    <th class="text-nowrap">Course:</th>
                                    <th class="text-nowrap">Date Requested:</th>
                                    <th class="text-nowrap">No. of Days:</th>
                                    <th class="text-nowrap">Action:</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for id in pending_list %}
                                <tr>
                                    <td>{{ id.request_id }}</td>  
                                    <td class="text-nowrap">{{ id.lost_stud_id }}</td>
                                    <td>{{ id.lost_stud_id.stud_lname }} {{ id.lost_stud_id.stud_fname }}  {{ id.lost_stud_id.stud_mname }}</td>
                                    <td>{{ id.lost_stud_id.stud_course_id }}</td> 
                                    <td class="text-nowrap">{{ id.date_updated }}</td> 
                                    <td class="text-nowrap"></td>
                                    <td class="with-btn" nowrap >
                                        <a href="{% url 'lost_id_view_detail' id.request_id %}">
                                            <button type="button" class="btn_view btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></button>
                                        </a>
                                        <button type="button" id="btn_pending"  class="update btn btn-warning btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></button> 
                                        <button type="button" href="" id="btn_remove_pending"  class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span></button> 
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="table-responsive table table-striped ">
                            <table style="font-family: Roboto; font-size: 11.5px;" id="data-table-combines" class="data-tables table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Request ID:</th>
                                    <th class="text-nowrap">Student No.:</th>
                                    <th class="text-nowrap">Name:</th>
                                    <th class="text-nowrap">Course:</th>
                                    <th class="text-nowrap">Date Requested:</th>
                                    <th class="text-nowrap">No. of Days:</th>
                                    <th class="text-nowrap">Action:</th>  
                                </tr>
                            </thead>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="process">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-inverse">
                <div class="card">
                    <div class="card-header bg-dark">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                          <a class="nav-link btn_pending" style="color: whitesmoke; font-family: Roboto;">Pending Request</a>
                        </li>
                        <li class="nav-item" >
                          <a class="nav-link active btn process"  style=" font-family: Roboto;">On Process Request</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link btn_complete" onclick="complete()" style="color: whitesmoke; font-family: Roboto;">Completed Request</a>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-body">
                        {% if process_list %}
                        <div class="table-responsive table table-striped ">
                            {% if messages %}
                            <p class="alert alert-danger">
                                {% for message in messages %}
                                    <i><strong>{{ message }}</strong></i>
                                {% endfor %}
                            </p>
                            {% endif %}
                            <table style="font-family: Roboto; font-size: 11.5px;" id="data-table-combiness" class="data-tables table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Request ID:</th>
                                    <th class="text-nowrap">Student No.:</th>
                                    <th class="text-nowrap">Name:</th>
                                    <th class="text-nowrap">Course:</th>
                                    <th class="text-nowrap">Date Requested:</th>
                                    <th  class="text-nowrap">Date Processed:</th>
                                    <th class="text-nowrap">No. of Days:</th>
                                    <th class="text-nowrap">Action:</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for osas_t_id in process_list %}
                                <tr>
                                    <td>{{ osas_t_id.request_id }}</td>  
                                    <td class="text-nowrap">{{ osas_t_id.lost_stud_id }}</td>
                                    <td class="text-nowrap">{{ osas_t_id.lost_stud_id.stud_lname }} {{ osas_t_id.lost_stud_id.stud_fname }}  {{ osas_t_id.lost_stud_id.stud_mname }}</td>
                                    <td>{{ osas_t_id.lost_stud_id.stud_course_id }}</td>
                                    <td class="text-nowrap">{{ osas_t_id.date_created }}</td>  
                                    <td  class="text-nowrap">{{ osas_t_id.date_updated }}</td> 
                                    <td class="text-nowrap"></td>
                                    <td class="with-btn" nowrap >
                                        <a href="{% url 'lost_id_view_detail' osas_t_id.request_id %}">
                                            <button type="button" class="btn_view btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></button>
                                        </a>
                                        <button type="button" id="btn_process"  class="update btn btn-warning btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></button> 
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="table-responsive table table-striped ">
                            <table style="font-family: Roboto; font-size: 11.5px;" id="data-table-combiness" class="data-tables table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Request ID:</th>
                                    <th class="text-nowrap">Student No.:</th>
                                    <th class="text-nowrap">Name:</th>
                                    <th class="text-nowrap">Course:</th>
                                    <th class="text-nowrap">Date Requested:</th>
                                    <th class="text-nowrap">No. of Days:</th>
                                    <th class="text-nowrap">Action:</th>  
                                </tr>
                            </thead>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="complete">
        <div class="col-lg-12 col-md-6">
            <div class="panel panel-inverse">
                <div class="card">
                    <div class="card-header bg-dark">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                          <a class="nav-link btn_pending" style="color: whitesmoke; font-family: Roboto;">Pending Request</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link btn_process" onclick="processing()" style="color: whitesmoke; font-family: Roboto;">On Process Request</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active btn_complete" style="font-family: Roboto;">Completed Request</a>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-body">
                        {% if complete_list %}
                        <div class="table-responsive table table-striped " >
                            {% if messages %}
                            <p class="alert alert-danger">
                                {% for message in messages %}
                                    <i><strong>{{ message }}</strong></i>
                                {% endfor %}
                            </p>
                            {% endif %}
                            <table style="font-family: Roboto; font-size: 11.5px;" id="data-table-combinesss" class="data-tables table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Request ID:</th>
                                    <th class="text-nowrap">Student No.:</th>
                                    <th class="text-nowrap">Name:</th>
                                    <th class="text-nowrap">Course:</th>
                                    <th class="text-nowrap">Date Requested:</th>
                                    <th class="text-nowrap">Date Completed:</th>
                                    <th class="text-nowrap">No. of Days:</th>
                                    <th class="text-nowrap">Action:</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for osas_t_id in complete_list %}
                                <tr>
                                    <td>{{ osas_t_id.request_id }}</td>  
                                    <td class="text-nowrap">{{ osas_t_id.lost_stud_id }}</td>
                                    <td class="text-nowrap">{{ osas_t_id.lost_stud_id.stud_lname }} {{ osas_t_id.lost_stud_id.stud_fname }}  {{ osas_t_id.lost_stud_id.stud_mname }}</td>
                                    <td>{{ osas_t_id.lost_stud_id.stud_course_id }}</td> 
                                    <td class="text-nowrap">{{ osas_t_id.date_created }}</td> 
                                    <td  class="text-nowrap">{{ osas_t_id.date_updated }}</td>
                                    <td class="text-nowrap"></td>
                                    <td class="with-btn" nowrap >
                                        <a href="{% url 'lost_id_view_detail' osas_t_id.request_id %}">
                                            <button type="button" class="btn_view btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span></button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="table-responsive table table-striped ">
                            <table style="font-family: Roboto; font-size: 11.5px;" id="data-table-combinesss" class="data-tables table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Request ID:</th>
                                    <th class="text-nowrap">Student No.:</th>
                                    <th class="text-nowrap">Name:</th>
                                    <th class="text-nowrap">Course:</th>
                                    <th class="text-nowrap">Date Requested:</th>
                                    <th class="text-nowrap">No. of Days:</th>
                                    <th class="text-nowrap">Action:</th>  
                                </tr>
                            </thead>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

 <!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content ">
            <div class="modal-body ">
                </button>  
                <form  id="validate_form"  action="{% url 'add_id_request' %}" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <fieldset >
                        <tr>
                            <td>
                                <a href="{% url 'lost_id' %}">
                                    <h5 class="bg-danger" style="float: right; border-radius: 45%; text-align: center; width: 19px; height: 18px; color:white">x</h5>
                                </a>
                                <h4>Add New Request</h4>
                                
                                <hr style="width:100%; margin-bottom: -2px; margin-top: -5px;">
                                <label style="margin-top: 40px;">Student Number:</label>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <select style="font-family: Roboto; font-size: 11px; margin-top: -3px;" id="stud" name="stud" class="form-control">
                                                <option  value="--select--" selected hidden >--select--</option>
                                                {% if stud_list2 %}
                                                    {% for osas_r_personal_info in stud_list2 %}
                                                    <option value="{{osas_r_personal_info.stud_no}}">{{osas_r_personal_info.stud_no}}</option>
                                                    {% endfor %}
                                                {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <a href=""><button type="button"  id="view"  class="view btn btn-info btn-sm">VIEW<span class="glyphicon glyphicon-pencil"></span></button></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </fieldset>
                    <hr style="width:100%; margin-bottom: 5px;">
                    <center>
                        <div class="btn text-center">
                            <button id="submit" type="submit" class="btn btn-success btn-md" style="width: 90px; height: 40px;">ADD</button>  
                        </div>
                    </center>
                </form>   
            </div>  
        </div>
    </div>
</div>

{% endblock %}

{% block page-level %}
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
{% endblock %}

{% block page-js %}
<script>
    request_id = $(this).closest("tbody tr").find("td:eq(0)").html()
    // alert(request_id)


        var table = document.getElementById('data-table-combines');
        var rowCount = table.rows.length; 
        for (var r = 1, n = table.rows.length; r < n; r++) {
        var table = document.getElementById("data-table-combines").rows[r].cells[4].innerHTML
        console.log("table " + table)
        if (moment(table, 'MM/DD/YYYY', true).isValid()) {
        }
        else {           
            const stud_dob_temp = moment(table, ['MMMMDDY, hh:mm:ss a']).format();
            const dob = moment(stud_dob_temp) // setting the new formatted date
            console.log("stud_dob_temp " + stud_dob_temp)
            document.getElementById("data-table-combines").rows[r].cells[4].innerHTML = dob.format('YYYY-MM-DD, hh:mm:ss a')
            document.getElementById("data-table-combines").rows[r].cells[5].innerHTML = moment(dob, 'YYYY-MM-DD, hh:mm:ss a').fromNow();
            s = document.getElementById("data-table-combines").rows[r].cells[5].innerHTML
            console.log("Today's date is: " + 
            s)   
            }
        }
    
    
    
    flag_process = 0
    function processing(){
        if (flag_process == 0){
            var table1 = document.getElementById('data-table-combiness');
            var rowCount1 = table1.rows.length; 
            for (var r = 1, n = table1.rows.length; r < n; r++) {
            var table1 = document.getElementById("data-table-combiness").rows[r].cells[4].innerHTML
            var table1a = document.getElementById("data-table-combiness").rows[r].cells[5].innerHTML
            console.log("table1 " + table1)
            if (moment(table1, 'MM/DD/YYYY', true).isValid()) {
            }
            else {           
                const stud_dob_temp = moment(table1, ['MMMMDDY, hh:mm:ss a']).format();
                const stud_dob_temp1 = moment(table1a, ['MMMMDDY, hh:mm:ss a']).format();
                const dob = moment(stud_dob_temp) // setting the new formatted date
                const dob1 = moment(stud_dob_temp1)
                console.log("stud_dob_temp " + stud_dob_temp)
                console.log("stud_dob_temp1 " + stud_dob_temp1)
                document.getElementById("data-table-combiness").rows[r].cells[4].innerHTML = dob.format('YYYY-MM-DD, hh:mm:ss a')
                document.getElementById("data-table-combiness").rows[r].cells[5].innerHTML = dob1.format('YYYY-MM-DD, hh:mm:ss a')
                document.getElementById("data-table-combiness").rows[r].cells[6].innerHTML = moment(dob1, 'YYYY-MM-DD, hh:mm:ss a').fromNow();
                e = document.getElementById("data-table-combiness").rows[r].cells[6].innerHTML
                console.log("Today's date is: " + 
                e)   
                
                }
            }
            flag_process = 1
        }
        
    }
    flag_complete = 0
    function complete() {
        if (flag_complete == 0){
            var table1 = document.getElementById('data-table-combinesss');
            var rowCount1 = table1.rows.length; 
            for (var r = 1, n = table1.rows.length; r < n; r++) {
            var table1 = document.getElementById("data-table-combinesss").rows[r].cells[4].innerHTML
            var table1a = document.getElementById("data-table-combinesss").rows[r].cells[5].innerHTML
            console.log("table1 " + table1)
            if (moment(table1, 'MM/DD/YYYY', true).isValid()) {
            }
            else {           
                const stud_dob_temp = moment(table1, ['MMMMDDY, hh:mm:ss a']).format();
                const stud_dob_temp1 = moment(table1a, ['MMMMDDY, hh:mm:ss a']).format();
                const dob = moment(stud_dob_temp) // setting the new formatted date
                const dob1 = moment(stud_dob_temp1)
                console.log("stud_dob_temp " + stud_dob_temp)
                console.log("stud_dob_temp1 " + stud_dob_temp1)
                document.getElementById("data-table-combinesss").rows[r].cells[4].innerHTML = dob.format('YYYY-MM-DD, hh:mm:ss a')
                document.getElementById("data-table-combinesss").rows[r].cells[5].innerHTML = dob1.format('YYYY-MM-DD, hh:mm:ss a')
                document.getElementById("data-table-combinesss").rows[r].cells[6].innerHTML = moment(dob1, 'YYYY-MM-DD, hh:mm:ss a').fromNow();
                e = document.getElementById("data-table-combinesss").rows[r].cells[6].innerHTML
                console.log("Today's date is: " + 
                e)   
                
                }
            }
            flag_complete = 1
        }
    }
    
    $("#process").hide()
    $("#complete").hide()

	$(".btn_pending").click(function(){
		$("#process").hide()
        $("#complete").hide()
        $("#pending").show()
    });
    
    $(".btn_process").click(function(){
		$("#pending").hide()
        $("#complete").hide()
        $("#process").show()
    });

    $(".btn_complete").click(function(){
		$("#pending").hide()
        $("#process").hide()
        $("#complete").show()
    });

    $(document).ready(function() {
        TableManageButtons.init();
        $('.data-tables').DataTable({
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : false,
            'info'        : true,
            'autoWidth'   : false,
            "aaSorting"   : [[1, "desc" ]],
            'autoPrint'   : false,
            dom: 'lBfrtip',
                buttons: [
                'excel',
            ],
            "lengthMenu": [ [5, 25, 50, -1], [10, 25, 50, "All"] ],
        });
	});

    $("#data-table-combines").on('click','#btn_pending',function(){
        request_id = $(this).closest("tbody tr").find("td:eq(1)").html()
		alert(request_id)
		swal({
            title: "Are you sure?",
            text: "You want to process this request?", 
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
			request_id = $(this).closest("tbody tr").find("td:eq(1)").html()
		$.ajax({
			type: "POST",
			url: "{% url 'id_request_process' %}",
			data:{
				request_id: request_id,
				csrfmiddlewaretoken: "{{ csrf_token }}",
			},
			success: function(data){
				swal("Success! request has been updated", {
		              icon: "success",
		            }).then((willreload) => {
		            	if(willreload){
                            window.location.reload()
                            
		            	}
		            	
		            });
			},
			error: function(error){
				console.log(error);
			}
		
		});
          } 
        });
	});

    $("#data-table-combiness").on('click','#btn_process',function(){
        request_id = $(this).closest("tbody tr").find("td:eq(1)").html()
		alert(request_id)
		swal({
            title: "Are you sure?",
            text: "You want to complete this request?", 
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
			request_id = $(this).closest("tbody tr").find("td:eq(1)").html()
		$.ajax({
			type: "POST",
			url: "{% url 'id_request_completed' %}",
			data:{
				request_id: request_id,
				csrfmiddlewaretoken: "{{ csrf_token }}",
			},
			success: function(data){
				swal("Success! request has been completed", {
		              icon: "success",
		            }).then((willreload) => {
		            	if(willreload){
                            window.location.reload()
                            
		            	}
		            	
		            });
			},
			error: function(error){
				console.log(error);
			}
		
		});
          } 
        });
	});
	
    $("#data-table-combines").on('click','#btn_remove_pending',function(){
        request_id = $(this).closest("tbody tr").find("td:eq(1)").html()
		alert(request_id)
		swal({
            title: "Are you sure?",
            text: "You want to remove this request?", 
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
			request_id = $(this).closest("tbody tr").find("td:eq(1)").html()
		$.ajax({
			type: "POST",
			url: "{% url 'id_request_remove' %}",
			data:{
				request_id: request_id,
				csrfmiddlewaretoken: "{{ csrf_token }}",
			},
			success: function(data){
				swal("Success! request has been updated", {
		              icon: "success",
		            }).then((willreload) => {
		            	if(willreload){
                            window.location.reload()
                            
		            	}
		            	
		            });
			},
			error: function(error){
				console.log(error);
			}
		
		});
          } 
        });
	});
    
</script>
{% endblock %}

