{% extends 'Role_Student/pdf_base.html'%}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="header">

        </div>
    </div>
</div>
<br/>
<br/>
<div class="container">
    <div class='row'>
        <div class="row">
            <img src="{%static 'OsasSystem/assets/img/logo/PUPLogo.png' %}" style="width: 130px; height: 130px;">
            <div style="margin-left: 20px;">
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: black; margin-top: 28px;">Republic of the Philippines</p>
                <p style="font-family: Trajan Pro; font-size: 20px; color: black; margin-top: -15px;"><b>Polytechnic University of the Philippines</b></p>
                <p style="font-family: Arial, Helvetica, sans-serif; color: black; margin-top: -15px;"><b>Quezon City Branch</b></p>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="container-fluid" style="background: whitesmoke; height: 70px;" >
    <div class="row">
        <p style="margin-top: 16px; padding-left:  15px; font-family: Roboto; font-size: 24px; color: gray;"><b>ID LOSS REQUEST FORM</b></p>
        <div class="col-lg-12">
            <span style="float:left; border:3px solid black;
            background-color: white; margin-top: -80px; margin-left: 80.1%; height: 200px; width: 200px;"></span>   
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered" style="table-layout: fixed ;
            width: 100% ; font-family: Roboto;">
            <tbody style="height: 100px; width: auto;">
                <tr>
                    <td style="width: 33.3%; "><b>DATE OF REQUEST:</b></td>
                    <td style="width: 33.3%; "><b>STUDENT NUMBER:</b></td>
                    <td style="width: 33.3%; "><b>NO. OF REQUEST:</b></td> 
                </tr>
                <tr>
                    <td style="width: 33.3%; "><b>LAST NAME:</b></td>
                    <td style="width: 33.3%; "><b>FIRST NAME:</b></td>
                    <td style="width: 33.3%;"><b>MIDDLE NAME:</b></td> 
                </tr>
                <tr>
                    <td style="width: 33.3%; "><b>COURSE:</b></td>
                    <td style="width: 33.3%; "><b>GENDER:</b></td>
                    <td style="width: 33.3%; "><b>CONTACT NO.:</b></td> 
                </tr>
                <tr>
                    <td style="width: 33.3%; "><b>ADDRESS:</b></td>
                    <td style="width: 33.3%;"><b>BIRTHDATE:</b></td>
                    <td style="width: 33.3%; "><b>BIRTHPLACE:</b></td> 
                </tr>
                <tr>
                    <td style="width: 33.3%; "><b>IN CASE OF EMERGENCY, PLEASE NOTIFY:</b></td>
                    <td style="width: 33.3%; "><b>ADDRESS:</b></td>
                    <td style="width: 33.3%; "><b>CONTACT NO.:</b></td> 
                </tr>
            </tbody>
        </table>
    </div>
    <span style="border:3px solid black; width: 400px; height: 180px; margin-left: 65%;">
    </span>
    <h5 style="margin-left: 79.5%;">SIGNITURE</h5>
</div>


            
{% endblock %}
