{% extends 'Role_Student/studentbase.html'%}
{% load static %}

{% block page-css %}
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
    
{% endblock%}

{% block title %}
    Profile {{request.session.session_user_no}}
{% endblock %}


{% block content%}
<!-- Main Content -->
<div id="content" class="content">
    <div class="row">
        {% if messages %}
        <p class="alert alert-danger">
            {% for message in messages %}
                <i><strong>{{ message }}</strong></i>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Student Profile</li>
    </ol>
    <h1 class="page-header mb-1"><i class="far fa-address-book mr-2" ></i>Student Profile</i></h1>
    <p class="mb-5">Page Description</p>
    
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="panel" id="refresh">
                <div class="panel-heading p-25">
                    <h2 class="panel-title" style="font-size:16px;"><i class="fas fa-address-book mr-2" ></i>Student Details  </i></h2>
                </div>
                <div class="panel-body">
                    <div class="col">  
                        <form id="validate_form" action="{% url 'OsasSystem:student_profile_edit' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 50%;">
                                            <div class="form-group row" >
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">Student Number:</label>
                                                <div class="col-sm-9">
                                                <input disabled type="text" class="form-control form-control-md" value="{{profile.stud_no}}">
                                                </div>
                                            </div>
                                        </th> 
                                        <th style="width: 50%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class=" col-sm-2 col-form-label col-form-label-sm">Course Name:</label>
                                                <div class="col-sm-10">
                                                <input disabled type="email" class="form-control form-control-md" placeholder="col-form-label-sm" value="{{profile.stud_course_id}}">
                                                </div>
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <table style=" margin-top: -17px;" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 25%;" style="font-family: Roboto; font-size: 10px;">
                                            <div class="form-group row" >
                                                {% if n %}
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">Last Name:</label> 
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                    <input type="text" class="form-control form-control-md" name="txt_l_name" value="{{profile.stud_lname}}" id="txt_l_name" required data-parsley-trigger="keyup" placeholder="Last name">
                                                </div>  
                                                {% endif %}
                                            </div>
                                        </th> 
                                        <th style="width: 25%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">First Name:</label>
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                    <input type="text" class="form-control form-control-md" name="txt_f_name" value="{{profile.stud_fname}}" id="txt_f_name" required data-parsley-trigger="keyup" placeholder="First name">
                                                </div>
                                            </div>
                                        </th> 
                                        <th style="width: 25%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">Middle Name:</label>
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                    <input type="text" class="form-control form-control-md" name="txt_m_name" value="{{profile.stud_mname}}" id="txt_m_name" required data-parsley-trigger="keyup" placeholder="Middle name">
                                                </div>
                                            </div>
                                        </th> 
                                        <th style="width: 25%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">Suffix Name:</label>
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                    <input type="text" class="form-control form-control-md" name="txt_s_name" value="{{profile.stud_sname}}" id="txt_s_name"  data-parsley-trigger="keyup" placeholder="Suffic name">
                                                </div>
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <table style=" margin-top: -17px;" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 33.33%;" style="font-family: Roboto; font-size: 10px;">
                                            <div class="form-group row" >
                                                {% if n %}
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">Date of Birth:</label> 
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                    <input type="text" class="form-control form-control-md" name="date_of_birth" value="{{n}}" id="datepickers" onload="datePickerChange" placeholder="{% now 'Y-m-d' %}">
                                                </div>  
                                                {% endif %}
                                            </div>
                                        </th> 
                                        <th style="width: 33.33%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">Email Address:</label>
                                                <div class="col-sm-9">
                                                <input style="margin-top: 4px;" type="email" id="txt_email" name="txt_email" placeholder="Email address" class="form-control form-control-md" required data-parsley-trigger="keyup" value="{{profile.stud_email}}">
                                                </div>
                                            </div>
                                        </th> 
                                        <th style="width: 33.33%;">
                                            <div class="form-group row">
                                                <label style="font-family: Roboto; font-size: 10px;" class="col-sm-3 col-form-label col-form-label-sm">Mobile Number:</label>
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                    <input  type="text" id="txt_mobile_number" class="form-control form-control-md" name="txt_mobile_number" placeholder="ex. 09123456789" required data-parsley-trigger="keyup" value="{{profile.stud_m_number}}">
                                                </div>
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <table style="margin-top: -17px;" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="form-group row" >
                                                <label style="font-size: 11px;" class="col-sm-1 col-form-label col-form-label-sm">Permanent Address:</label> 
                                                <div class="col-sm-11" >
                                                    <input type="text" id="txt_address" name="txt_address" class="form-control form-control-md" placeholder="Adress" required data-parsley-trigger="keyup" value="{{profile.stud_address}}">
                                                </div>  
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <table style="margin-top: -17px;" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 35%;">
                                            <div class="form-group row" >
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">High School Name:</label>
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                <input type="text" class="form-control form-control-md" id="txt_h_name" name="txt_h_name"  placeholder="High school name" value="{{profile.stud_hs}}">
                                                </div>
                                            </div>
                                        </th> 
                                        <th style="width: 50%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class="col-sm-2 col-form-label col-form-label-sm">High School Address:</label>
                                                <div class="col-sm-10" style="margin-top: 4px;">
                                                <input  style="margin-bottom: 8px;" type="text" id="txt_h_address" name="txt_h_address" class="form-control form-control-md" placeholder="School address" required data-parsley-trigger="keyup" value="{{profile.stud_hs_add}}">
                                                </div>
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <table style="margin-top: -17px;" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 35%;">
                                            <div class="form-group row" >
                                                <label style="font-size: 11px;" class="col-sm-3 col-form-label col-form-label-sm">Senior High School Name:</label>
                                                <div class="col-sm-9" style="margin-top: 4px;">
                                                <input type="text" class="form-control form-control-md" id="txt_sh_name" name="txt_sh_name"  placeholder="School Name" value="{{profile.stud_sh}}">
                                                </div>
                                            </div>
                                        </th> 
                                        <th style="width: 50%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class="col-sm-2 col-form-label col-form-label-sm">Senior High Address:</label>
                                                <div class="col-sm-10" style="margin-top: 4px;">
                                                <input  style="margin-bottom: 8px;" type="text" id="txt_sh_address" name="txt_sh_address" class="form-control form-control-md" placeholder="School address" required data-parsley-trigger="keyup" value="{{profile.stud_sh_add}}">
                                                </div>
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <table style="margin-top: -17px;" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 50%;">
                                            <div class="form-group row" >
                                                <label style=" font-size: 11px;" class="col-sm-4 col-form-label col-form-label-sm">Emergency Contact Person:</label>
                                                <div class="col-sm-8">
                                                    <input  type="text" id="txt_e_name" name="txt_e_name" class="form-control form-control-md" placeholder="Full name" required data-parsley-trigger="keyup" value="{{profile.stud_e_name}}">
                                                </div>
                                            </div>
                                        </th> 
                                        <th style="width: 50%;">
                                            <div class="form-group row">
                                                <label style="font-size: 11px;" class="col-sm-4 col-form-label col-form-label-sm">Emergency Contact Number:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="txt_e_number" name="txt_e_number" placeholder="ex. 09123456789" class="form-control form-control-md" required data-parsley-trigger="keyup" value="{{profile.stud_e_m_number}}">
                                                </div>
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <table style=" margin-top: -17px;" class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>
                                            <div class="form-group row" >
                                                <label style="font-size: 11px;" class="col-sm-2 col-form-label col-form-label-sm">Emergency Contact Address:</label> 
                                                <div class="col-sm-10">
                                                    <input type="text" id="txt_e_address" name="txt_e_address" class="form-control form-control-md" placeholder="Address" required data-parsley-trigger="keyup" value="{{profile.stud_e_address}}">
                                                </div>  
                                            </div>
                                        </th> 
                                    </tr>
                                </tbody>
                            </table>
                            <div class="panel-footer" >
                                <button class="btn btn_success col-md-3 pull-right m-l-10 " type="submit" id="btn_add" style="height: 33px; padding: 5px; background: linear-gradient(to right, #66ccff -1%, #3366ff 98%); border:none; color: white;" >Update<i class="far fa-paper-plane m-l-3 zoom"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block page-level %}
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/index.js' %}"></script>
{% endblock %}

{% block page-js %}
<script>
      // You have a 'moment' global here
      var datetemp = document.getElementById("datepickers").value; // get value from input 
      const today = moment(datetemp, [ 'MMMMDDY']).format(); // format ex. "Jan 01, 2000" to ISO 
      const dob = moment(today) // setting the new formatted date
      document.getElementById('datepickers').value = dob.format('YYYY-MM-DD') // passing the value to the input field with a new format

      console.log("Today's date is: " + 
      dob.format('YYYY-MM-DD')) // checking if true
      
	    function datePickerChange() {
			$('#datepickers').datepicker({ dateFormat: 'yy-mm-dd' });
		};
        
</script>
{% endblock %}