{% load static %}
    <!-- begin #header -->
    <div id="header" class="header navbar-default">
        <!-- begin navbar-header -->
        <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand"><span class="navbar-user"><img style="margin-top: 2px;" src="{%static 'OsasSystem/assets/img/logo/logo.png' %}" alt="" /> </span> <b>PUP</b> Quezon City Branch</a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end navbar-header -->
        
        <!-- begin header-nav -->
        <ul class="navbar-nav navbar-right">
            <li class="dropdown navbar-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{%static 'OsasSystem/assets/img/user/user.png' %}" alt="" /> 
                    <span class="d-none d-md-inline">{{request.session.session_user_no}}</span> <b class="caret"></b>
                    <label id="auth_username" hidden name="auth_username">{{request.session.session_user_username}}</label>
                    <label  id="auth_id" hidden name="auth_id">{{request.session.session_user_id}}</label>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:;" class="dropdown-item">Account Setting</a>
                    <div class="dropdown-divider"></div>
                    <a href="{%url 'logout' %}" class="dropdown-item">Log Out <i class="fas fa-sign-out-alt mr-2" ></i></a>
                </div>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end #header -->