{% load static %}

{% if request.session.session_user_role == 'STUDENT'%}
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar bg-black-darker">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile" hidden>
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="{% static 'OsasSystem/assets/img/user/user-13.jpg'%}" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                       
                        <small id="session_id" name="session_id">{{request.session.session_user_role}}</small>
                    </div>
                </a>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            {% if request.session.session_user_role == 'STUDENT'%}
            <li class="has-sub">
                <a href="{% url 'profile' %}">
                    <i class="far fa-user"></i>
                    <span>Student Profile</span>
                </a>
            </li>
            <li class="has-sub">
                <a >
                    <b class="caret"></b> 
                    <i class="far fa-comments"></i> 
                    <span>Grievances</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'student_file_complaint' %}">Lodge Complaint</a></li>
                    <li><a href="javascript:;">Complaint History</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="{% url 'student_lost_id' %}">
                    <i class="far fa-address-card"></i>
                    <span>Lost ID</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="{% url 'sanctioning_role_student' %}">
                    <i class="far fa-list-alt"></i>
                    <span>Sanction</span>
                </a>
            </li>
            {% endif%}
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
{% endif%}
<div class="sidebar-bg"></div>
<!-- end #sidebar -->