{% extends 'base.html'%}
{% load static %}

{% block page-css %}
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock%}

{% block title %}
    Add Student
{% endblock %}

{% block content%}


<div class="content" class="content">
    
    <div id="div_add_equipment" class="panel-body">
        <form id="validate_form">
            <fieldset>
                <tr>
                    <td>
                        <strong><h1 class="page-header">Add new student</h1></strong>
                        <div class="row">
                            <hr style="width:100%;text-align:left;margin-left:0">
                            <div class="col-lg-4 col-md-6 ">
                                <div class="stats-content">
                                    <label>Last name</label>
                                    <input  style="margin-bottom: 8px;" type="text" id="txt_l_name" class="form-control" placeholder="Last name" required data-parsley-trigger="keyup">
                                </div>
                            </div>		
                            <div class="col-lg-4 col-md-6 ">
                                <div class="stats-content">
                                    <label>First name</label>
                                    <input  type="text" id="txt_f_name" class="form-control" placeholder="First name" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="stats-content">
                                    <label>Middle name</label>
                                    <input  type="text" id="txt_m_name" class="form-control" placeholder="Middle name" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="stats-content">
                                    <label>Student number</label>
                                    <input style="margin-bottom: 8px;" type="text" id="txt_studno" placeholder="ex. 2000-0000-cm-0" class="form-control" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="stats-content">
                                    <label>Date of birth</label>
                                    <input type="date" class="form-control" id="date_of_birth" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <div class="stats-content">
                                    <label>Gender</label>
                                    <select id="txt_Gender" class="form-control">
                                            <option  value="Male">Male</option>
                                            <option  value="Female">Female</option>
                                            <option  value="Others">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 ">
                                <div class="stats-content">
                                    <label>Address</label>
                                    <input style="margin-bottom: 8px;" type="text" id="txt_address" class="form-control" placeholder="Adress" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 ">
                                <div class="stats-content">
                                    <label>Email Address</label>
                                    <input style="margin-bottom: 8px;" type="email" id="txt_email" placeholder="Email" class="form-control" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 ">
                                <div class="stats-content">
                                    <label>Mobile number</label>
                                    <input  type="text" id="txt_mobile_number" class="form-control" placeholder="ex. 09123456789" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6 ">
                                <div class="stats-content">
                                    <label >Course</label>
                                    <select id="dd_category" class="form-control">
                                            {% for cate in category%}
                                            <option  value="{{cate.0}}">{{ cate.2|upper }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 ">
                                <div class="stats-content">
                                    <label>Year & Section</label>
                                    <select id="dd_category" class="form-control" >
                                            {% for cate in category%}
                                            <option  value="{{cate.0}}">{{ cate.2|upper }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr style="width:100%;text-align:left;margin-left:0">
                            <div class="col-lg-6 col-md-6 ">
                                <div class="stats-content">
                                    <label>High school name</label>
                                    <input style="margin-bottom: 8px;" type="text" id="txt_h_name" class="form-control" placeholder="School name" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 ">
                                <div class="stats-content">
                                    <label>High school address</label>
                                    <input style="margin-bottom: 8px;" type="text" id="txt_h_address" class="form-control" placeholder="School address" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 ">
                                <div class="stats-content">
                                    <label>Emergency contact person</label>
                                    <input  type="text" id="txt_e_name" class="form-control" placeholder="Full name" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 ">
                                <div class="stats-content">
                                    <label>Emergency contact person number</label>
                                    <input style="margin-bottom: 8px;" type="text" id="txt_e_number" placeholder="ex. 09123456789" class="form-control" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 ">
                                <div class="stats-content">
                                    <label>Emergency contact person address</label>
                                    <input  type="text" id="txt_e_address" class="form-control" placeholder="Address" required data-parsley-trigger="keyup">
                                </div>
                            </div>
                            <hr style="width:100%;text-align:left;margin-left:0">
                        </div>
                    </td>
                </tr>
            </fieldset>
            </br>
            <div style=" margin-bottom: 20px;" class="btn pull-right">
                <a id="btn_cancel_add_equipment"  value="'+value[0]+'" style="color: white;" class="btn btn-sm btn-danger height-30">Cancel</a>
                <input type="submit" id="submit" name="submit" value="Submit" class="btn btn-sm btn-success height-30" />
                <a id="btn_add_equipments"  value="'+value[0]+'" style="color: white;" class="btn btn-sm btn-primary width-60 m-r-2">Submit</a>
            </div>
        </form>  
    </div>
</div>

{% endblock %}

{% block page-level %}
    <script src="{% static 'OsasSystem/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
{% endblock %}

