{% extends 'base.html'%}
{% load static %}

{% block page-css %}
    <!-- <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" /> -->
    <Style>
        table {
            counter-reset: rowNumber + 1;
        }

        table tr {
            counter-increment: rowNumber;
        }

        table tr td:first-child::before {
            content: counter(rowNumber);
        }
    </Style>
{% endblock%}

{% block title %}
    Student Profile
{% endblock %}


{% block content%}
<div id="content" class="content">

    {% if messages %}
    <p class="alert alert-danger">
        {% for message in messages %}
            <i><strong>{{ message }}</strong></i>
        {% endfor %}
    </p>
    {% endif %} 

    <h1 class="page-header mb-1">Designation Offices</h1>
	<p class="mb-5">Section 1: Student offenses shall be subjected to disciplinary measures
        by the University. If the sanction imposed is suspension or dismissal, the
        student shall not be allowed to enter the University premises. <br> Section 2. All complaints involving students shall be referred to the Office of
        the Student Services.</p>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel" id="refresh">
        <div class="panel-heading p-25">
            <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
                <button class="btn btn-success"  data-toggle="modal" href="#modal-dialog" id="btn_rem"><i class="fas fa-search mr-2"></i>Add New</button>
            </div>
            <h2 class="panel-title" style="font-size:16px;">Office List</h2>
        </div>
        <div class="panel-body">
            {% if office_list %}
            <table id="data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th data-orderable="false">Office Name</th>
                        <th data-orderable="false">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for osas_r_designation_office in office_list %}
                    <tr class="odd gradeA" id="office-{{ osas_r_designation_office.designation_id }}">
                        <td width="1%" class="f-s-600 text-inverse"></td>
                        <td width="1%" class="f-s-600 text-inverse" hidden>{{ osas_r_designation_office.designation_id }}</td>
                        <td class="office_data"><dl class="row mb-0 p-2" style="line-height: .6rem;">
                            <dd class="col-sm-8 gritter-  off_name" ><strong>{{ osas_r_designation_office.designation_office }}</strong></dd>
                        </dl>
                        </td>
                        <td  class="align-middle"> 
                            <div class="text-nowrap">
                                <div class="btn-group ">
                                    <button id="edit-btn" class="btn btn-info" data-toggle="modal" onClick="editOffice('{{osas_r_designation_office.designation_id}}')" href="#modal-edit"><i class="fas fa-edit mr-2"></i>Edit</button>
                                    <button id="delete-btn" class="btn btn-danger" onClick="deleteOffice('{{osas_r_designation_office.designation_id}}')"><i class="fas fa-trash-alt mr-2"></i>Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% else %}
            <table id="data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th data-orderable="false">Office Name</th>
                        <th data-orderable="false">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <center><p>No Office Records</p></center>  
                </tbody>
            </table> 
            {% endif %}
        </div>
    </div>
</div>

<div class="modal" id="modal-dialog" role="dialog"  data-backdrop="static">
    <div class="modal-dialog  modal-md" role="document">
        <div class="modal-content">
            <form  method="POST"   class="form-control-with-bg" id="form1"></form>
                {% csrf_token %}
                <div class="panel panel-inverse" >
                    
                    <button type="button" class="close" id="modal_close" data-dismiss="modal" aria-hidden="true" style="color: gray; margin: 6px;">×</button>  
                    <div class="panel-body">
                        <div class="col">
                            <h1 class="page-header mb-1">New Office</h1>
                            <p class="mb-5">Page Description</p>
                            <div class="col-lg-12 form-check-inline">
                                <div class="col-12">
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Office Name: <span class="text-danger">*</span></label>
                                    <input id="office_name" name="office_name" type="text" class="form-control" data-parsley-required="true" required data-parsley-pattern="^[a-zA-Z]+$" data-parsley-trigger="keyup">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-footer">
                        <button class="btn btn_success col-md-3 pull-right m-l-10 " id="btn_submit" style="height: 33px; padding: 5px; background: linear-gradient(to right, #66ccff -1%, #3366ff 98%); border:none; color: white;" >Submit<i class="far fa-paper-plane m-l-3 zoom"></i></button>
                        <a class="btn btn-white pull-right m-l-10" data-dismiss="modal">Back<i class="fas fa-reply m-l-3 zoom"></i></a>
                    </div>
                </div> 
            </form> 
        </div>
    </div>
</div>

<div class="modal" id="modal-edit" role="dialog"  data-backdrop="static">
    <div class="modal-dialog  modal-md" role="document">
        <div class="modal-content">
            <form  method="POST"   class="form-control-with-bg" id="form2"></form>
                {% csrf_token %}
                <div class="panel panel-inverse" >
                    
                    <button type="button" class="close" id="modal_close" data-dismiss="modal" aria-hidden="true" style="color: gray; margin: 6px;">×</button>  
                    <div class="panel-body">
                        <div class="col">
                            <h1 class="page-header mb-1">New Office</h1>
                            <p class="mb-5">Page Description</p>
                            <div class="col-lg-12 form-check-inline">
                                <div class="col-12">
                                    <input class="form-control" id="office-id" type="hidden" name="office-id"/>
                                    <label style="font-size: 12px;" class="col-form-label text-md-right">Office Name: <span class="text-danger">*</span></label>
                                    <input id="office-name" name="office-name" type="text" class="form-control" data-parsley-required="true" required data-parsley-pattern="^[a-zA-Z]+$" data-parsley-trigger="keyup">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn_success col-md-3 pull-right m-l-10 " id="btn_update" style="height: 33px; padding: 5px; background: linear-gradient(to right, #66ccff -1%, #3366ff 98%); border:none; color: white;" >Update<i class="far fa-paper-plane m-l-3 zoom"></i></button>
                        <a class="btn btn-white pull-right m-l-10" data-dismiss="modal">Back<i class="fas fa-reply m-l-3 zoom"></i></a>
                    </div>
                </div> 
            </form> 
        </div>
    </div>
</div>


{% endblock %}

{% block page-level %}
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/plugins/parsley/dist/parsley.js' %}"></script>
    <script src="{%static 'OsasSystem/assets/index.js' %}"></script>
{% endblock %}

{% block page-js %}
<script>
    $(document).ready(function() {
			$('#data-table').DataTable({
				ordering: false,
			});
		});
</script>
<script>
   
   $("#modal-edit").on('click','#btn_update',function(){
        var idInput = $('input[name="office-id"]').val().trim();
        var officeInput = $('input[name="office-name"]').val().trim();
        if (officeInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "designation_office_edit" %}',
            type: "POST",
            data: {
                idInput: idInput,
                officeInput: officeInput,
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: 'json',
            success: function (data) {
                if (data.office_data) {
                  updateOfficeTable(data.office_data);
                  swal("Updated!", {
                    icon: "success",
                    })
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#form2').trigger("reset");
    $('#modal-edit').modal('hide');
    return false;
});

function editOffice(designation_id) {
    if (designation_id) {
        tr_id = "#office-" + designation_id;
        office = $(tr_id).closest("tbody tr").find("td :eq(2)").html()
        $('#office-id').val(designation_id);
        $('#office-name').val(office);
    }
}

function updateOfficeTable(office_data){
    $("#data-table #office-" + office_data.id).children(".office_data").each(function() {
        $(this).closest("tbody tr").find("td :eq(2)").html(office_data.office_name) 
      });
}


function deleteOffice(designation_id) {
    swal({
        title: "Are you sure?",
        text: "You want to assess this case?", 
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url: '{% url "designation_office_delete" %}',
                type: "POST",
                data: {
                    designation_id: designation_id,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                    $("#data-table #office-" + designation_id).remove();
                    swal("Success! request has been completed", {
                        icon: "success",
                        })
                    }
                }
                
            });
        } 
    });
}

    // https://www.youtube.com/watch?v=Qc5NnpxFbBo&feature=youtu.be
    // JSON data to HTML Table using Ajax Jquery getJSON method

    $("#modal-dialog").on('click','#btn_submit',function(){
        var officeInput = $('#office_name').val();
        if (officeInput){
            $.ajax({
                type: "POST",
                url: "{% url 'designation_office_add' %}",
                dataType: 'json',
                data:{
                    officeInput: officeInput,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(data){
                    console.log(office_name)
                    if (data.office_data) {
                        appendToUsrTable(data.office_data);
                        swal("Success! request has been completed", {
                                icon: "success",
                            }).then((willreload) => {
                            if(willreload){
                                updateDiv();
                            }
                        });
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        }
        else {
        alert("All fields must have a valid value.");
        }
        $('form#form1').trigger("reset");
        $('#modal-dialog').modal('hide');
        return false;
    });

    function updateDiv()
    { 
        $( "#refresh" ).load(window.location.href + " #refresh" );
    }

    function appendToUsrTable(office_data) {
        $("#data-table > tbody:last-child").append('<tr class="odd gradeA" id="office-'+ office_data['id'] +' "><td width="1%" class="f-s-600 text-inverse"></td><td width="1%" class="f-s-600 text-inverse" hidden>' + office_data['id'] +'</td><td class="office_data"><dl class="row mb-0 p-2" style="line-height: .6rem;"><dd class="col-sm-8 gritter-  off_name" ><strong>' + office_data['office_name'] +'</strong></dd></dl></td><td><div class="text-nowrap"><div class="btn-group "><button id="edit-btn" class="btn btn-info" data-toggle="modal" onClick="editOffice('+"'"+office_data['id']+"'"+')" href="#modal-edit"><i class="fas fa-edit mr-2"></i>Edit</button><button id="delete-btn" class="btn btn-danger" onClick="deleteOffice('+"'"+office_data['id']+"'"+')"><i class="fas fa-trash-alt mr-2"></i>Delete</button></div></div></td></tr>')
    }

</script>
{% endblock %}