{% load static %}

<!-- begin #sidebar -->

<div id="sidebar" class="sidebar bg-black-darker">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile" hidden>
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="{% static 'OsasSystem/assets/img/user/user-13.jpg'%}" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                       
                        <small id="session_id" name="session_id">{{request.session.session_user_role}}</small>
                    </div>
                </a>
            </li>
        </ul>
        {% if request.session.session_user_role == 'HEAD OSAS' or 'OSAS STAFF'%}
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub">
                <a href="{% url 'home' %}">
                    <i class="far fa-chart-bar"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="{% url 'lodge_complaint' %}">
                    <i class="far fa-comments"></i> 
                    <span>Grievances</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="{% url 'lost_id' %}">
                    <i class="far fa-address-card"></i> 
                    <span>Lost ID</span>
                </a>
            </li>
            {% if request.session.session_user_role == 'HEAD OSAS'%}
            <li class="has-sub">
                <a href="{% url 'auth_user' %}">
                    <i class="fas fa-users"></i> 
                    <span>OSAS Staff</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="{% url 'student_profile' %}">
                    <i class="far fa-address-book"></i> 
                    <span>Student Profile</span>
                </a>
            </li>
            {% endif %}
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="far fa-user"></i> 
                    <span>Student Sanction</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{%url 'sanctioning_student' %}">Sanctioning Students</a></li>
                    {% if request.session.session_user_role == 'HEAD OSAS'%}
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            Sanction Setup
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'code_descipline' %}">Code of Descipline</a></li>
                            <li><a href="{%url 'desciplinary_sanction' %}">Desciplinary Sanctions</a></li>
                            <li><a href="{% url 'designation_office' %}">Designation Office</a></li> 
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <!-- <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-users"></i>
                    <span>Alumni</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'r_referral' %}">Referral</a></li>
                    <li><a href="{% url 'r_employ' %}">Employed</a></li>
                    <li><a href="">Self-Employed</a></li>
                    <li><a href="">Unemployed</a></li>
                </ul>
            </li> -->
            {% if request.session.session_user_role == 'HEAD OSAS'%}
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-cog"></i>
                    <span>System Setup</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'userrole' %}">User role</a></li>
                    <li><a href="{% url 'yr_sec' %}">Year and Section</a></li>
                    <li><a href="{% url 'course' %}">Courses</a></li>
                </ul>
            </li>
            {% endif %}
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        </ul>
        {% endif%}
      
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>

<div class="sidebar-bg"></div>
<!-- end #sidebar -->