{% load static %}

<!-- begin #sidebar -->
{% if request.session.session_user_role == 'HEAD OSAS' or request.session.session_user_role == 'OSAS STAFF'%}
<div id="sidebar" class="sidebar bg-black-darker">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile" hidden>
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="{% static 'OsasSystem/assets/img/user/user-13.jpg'%}" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                       
                        <small id="session_id" name="session_id">{{request.session.session_user_role}}</small>
                    </div>
                </a>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub">
                <a href="{% url 'home' %}">
                    <i class="fa fa-th-large"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            
            
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-align-left"></i> 
                    <span>Student Services</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub">
                        <a href="{% url 'student_profile' %}">
                            Student Profile
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            Grievance
                        </a>
                        <ul class="sub-menu">
                            <li><a href="javascript:;">Lodge Complaint</a></li>
                            <li><a href="javascript:;">Complaint History</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="{% url 'lost_id' %}">
                            <b class="caret"></b>
                            ID
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            Organization
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            Sanction
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{%url 'sanctioning_student' %}">Sanctioning Students</a></li>
                            <li><a href="{%url 'sanctioning_student_completed' %}">Finished Students</a></li>
                            <li><a href="javascript:;">Excused Students</a></li>
                            <li><a href="{%url 'desciplinary_sanction' %}">Disciplinary Sanctions</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-medkit"></i>
                    <span>Alumni</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'r_referral' %}">Referral</a></li>
                    <li><a href="{% url 'r_employ' %}">Employed</a></li>
                    <li><a href="">Self-Employed</a></li>
                    <li><a href="">Unemployed</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-medkit"></i>
                    <span>Report</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="">Scholarship and Financial Assistance Services</a></li>
                    <li><a href="">Guidance Office</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-medkit"></i>
                    <span>System Setup</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'auth_user' %}">Users</a></li>
                    <li><a href="{% url 'userrole' %}">User role</a></li>
                    <li><a href="{% url 'yr_sec' %}">Year and Section</a></li>
                    <li><a href="{% url 'course' %}">Courses</a></li>
                    <li><a href="{% url 'code_descipline' %}">Code of Descipline</a></li>
                    <li><a href="{% url 'designation_office' %}">Designation Office</a></li>
                </ul>
            </li>
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
{% endif%}
<div class="sidebar-bg"></div>
<!-- end #sidebar -->