{% extends 'base.html'%}
{% load static %}

{% block page-css %}
    <link href="{% static 'OsasSystem/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'OsasSystem/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock%}

{% block title %}
    Student Profile
{% endblock %}


{% block content%}
<div id="content" class="content">

    <!-- <div class="row">
        <div class="col-lg-12 col-md-6">
        {% if error_message %}
            <p class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %} 
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-12 col-md-6"> 
            <a href="{% url 'add_student' %}"><button type="button" id="btn_rem"  class="update btn btn-success">+ Add Student</button></a>
        </div>
    </div>
</br>
    <!-- begin row -->
    <div class="row">
        <!-- begin col-10 -->
        <div class="col-lg-12 col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">User List</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    {% if user_list %}
                    <div class="table-responsive">
                        <table id="data-table-buttons" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th hidden></th>
                                <th class="text-nowrap">Name</th>
                                <th class="text-nowrap">Username</th>
                                <th hidden></th>
                                <th class="text-nowrap">Email</th>
                                <th class="text-nowrap">User Type</th>
                                <!-- <th class="text-nowrap">Profile Picture</th> -->
                                <!-- <th class="text-nowrap">Status</th> -->
                                <th class="text-nowrap">Action</th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for osas_r_userrole in user_list %}
                            <tr>
                                <td hidden >{{ osas_r_userrole.user_id }}</td>  
                                <td>{{ osas_r_userrole.user_name }}</td>
                                <td>{{ osas_r_userrole.user_username }}</td>
                                <td hidden>{{ osas_r_userrole.user_password }}</td> 
                                <td>{{ osas_r_userrole.user_email }}</td>        
                                <td>{{ osas_r_userrole.user_type }}</td>
                                <!-- <td class="text-center"><img src="/media/{{osas_r_userrole.s_image}}" class="rounded-circle" width="50" alt="userimage"/></td> -->
                                <!-- <td class="text-center"><span {% if  index.2  < index.3 %}class = "dot" style=" height: 25px; width: 25px; background-color: red; border-radius: 50%;display: inline-block;" {% elif  index.2  == index.3 %}class = "dot" style=" height: 25px; width: 25px; background-color: #EEA843; border-radius: 50%;display: inline-block;" {% else %} class="dot" style=" height: 25px; width: 25px; background-color: #4EEC1E; border-radius: 50%; display:inline-block;" {% endif %}></span></td> -->
                                <td class="with-btn" nowrap >
                                    <!-- {% if index.2 < index.3 %}
                                    <a id="btnEditTable"  value="{{index.0}}" class="btn btn-sm btn-primary width-70 m-r-2" style="color: white;">Order</a>
                                    {% endif %} -->
                                    <!-- <button type="button" id="view" class="update btn btn-primary btn-lg"><span class="glyphicon glyphicon-eye-open"></span></button> -->
                                    <button type="button" href="#modal-dialog2"  id="edit"  class="update btn btn-warning btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <!-- <a id="btnEditTable"  value="{{index.0}}" class="btn btn-sm btn-primary width-70 m-r-2" style="color: white;">Edit</a> -->
                                    <!-- {% if request.session.session_assign == 9 %} -->
                                    <button type="button" href="#modal-dialog" id="btn_rem"  class="update btn btn-danger btn-lg" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></button> 
                                    <!-- <a  class="btn btn-sm btn-success" data-toggle="modal">Demo</a> -->
                                    <!-- {% endif %} -->
                                    <button type="button" id="button_del" method="post" class="update btn btn-danger btn-lg"><span class="glyphicon glyphicon-trash"></span></button> 
                                    <!-- <a id="btnRemarks"  class="btn btn-sm btn-white width-70"><center>Remarks</center></a>
                                     -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>
 <!-- #modal-dialog -->

{% endblock %}

{% block page-level %}
	<script src="{%static 'OsasSystem/assets/plugins/bootstrap-sweetalert/sweetalert.min.js' %}"></script>
	<script src="{%static 'OsasSystem/assets/js/demo/ui-modal-notification.demo.min.js' %}"></script>
{% endblock %}