{% extends 'loginbase.html'%}
{% load static %}

{% block content %}

        
        <div class="login-cover">
            <div class="login-cover-image" style="background-image: url({%static 'OsasSystem/assets/img/PUP.jpg' %})" data-id="login-cover-image"></div>
            <div class="login-cover-bg"></div>
        </div>
        <!-- begin #page-container -->
        <div id="page-container" class="fade">
            <!-- begin login -->
            <div class="container col-12 text-md-right" style="padding: 0px; padding-top: 10px; height: 10px;">
                {% if messages %}
                    <p class="alert" style="color: white; padding: 0px;">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </p>
                {% endif %} 
            </div>
            <div class="login login-v2" data-pageload-addclass="animated fadeIn">
                <!-- begin brand -->
                <div class="login-header">
                    <div class="brand">
                         <b>PUP</b> Quezon City Branch
                        <label style="font-size: 15px; font-weight: 100; margin-right: 50px;">Please click or tap your destination.</label>
                    </div>
                </div>
                <!-- end brand -->  
                <!-- begin login-content -->
                <div class="login-content">
                        <div class="form-group m-b-20">
                            <a href="{% url 'login' %}" type="submit" class="btn btn-primary btn-block btn-lg"  role="button">Student</a>
                        </div>
                        <div class="form-group m-b-20">
                            <a href="{% url 'login' %}" type="submit" class="btn btn-danger btn-block btn-lg"  role="button">Faculty</a>
                        </div>
                        <div class="login-buttons">
                            <a href="{% url 'organization_login' %}" type="submit" class="btn btn-info btn-block btn-lg"  role="button">Organization</a>
                        </div>
                </div>
                <!-- end login-content -->
            </div>

        </div>
        <!-- end page container -->
{% endblock %}
	